<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="youtubeArticle">
    <div class="blueMenu">
      <div class="youtubeMenu">
        <a href="#" class="home">Home</a>
        <td>|</td>
        <a href="#">My Videos</a>
        <td>|</td>
        <a href="#">My Favorites</a>
        <td>|</td>
        <a href="#">My Messages</a>
        <td>|</td>
        <a href="#">My Profile</a>
      </div>
      <div class="helpMenu">
        <a href="#">Sign Up</a>
        <td>|</td>
        <a href="#">Log In</a>
        <td>|</td>
        <a href="#">Help</a>
      </div>
    </div>
    <div class="youtubeLogoBlock">
      <div class="youtubeLogo">
        <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
        <p>Your Digital Video Repository</p>
      </div>
    </div>
    <div class="textYouTube">
      <p>The modern world can’t be imagined without YouTube. Now it is the biggest platform for video-bloggers, musicians and for others who is ready to share their thoughts with the world.</p>
      <p>The history of video-hosting goes to 2005. The idea of creation belongs to Chad Hurley, Steve Chen, and Jawed Karim. It is unknown reliably what was the reason for releasing YouTube and what was the main idea. But there are three the most popular versions:</p>
      <p>Hurley and Chen developed the idea for YouTube during the early months of 2005, after they had experienced difficulty sharing videos that had been shot at a dinner party at Chen's apartment in San Francisco. Karim did not attend the party and denied that it had occurred, but Chen commented that the idea that YouTube was founded after a dinner party "was probably very strengthened by marketing ideas around creating a story that was very digestible".</p>
      <p>Karim said the inspiration for YouTube first came from Janet Jackson's role in the 2004 Super Bowl incident, when her breast was exposed during her performance, and later from the 2004 Indian Ocean tsunami. Karim could not easily find video clips of either event online, which led to the idea of a video sharing site.</p>
      <p>Hurley and Chen said that the original idea for YouTube was a video version of an online dating service, and had been influenced by the website Hot or Not.</p>
      <p>The audience of the website increased fast. Till July in 2006 the company claimed that 65 000 videos were uploading per day and the website got more than 1 million views.</p>
      <p>There was formed a community on the platform. It unite users all over the world, they can upload, comment and assess videos. Everyone can be a creator if they have an idea or aim. Nowadays there is 1 billion audience that creates a new world, inspire new people share their thoughts and ideas.</p>
    </div>
    <div class="greyMenu">
      <p>Видео</p>
      <div class="greyBlock">
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" target="_blank" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/FirstVideo.jpg' %>
          </div>
          <p class="name">Me at the zoo</p>
          <p class="public">Uploaded:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
        <a href="https://www.youtube.com/watch?v=rdwz7QiG0lk&t=98s" target="_blank" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/TubeYoutube.png' %>
          </div>
          <p class="name">YouTube on the tube!</p>
          <p class="public">Uploaded:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">YouTube</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" target="_blank" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/TellMeWhy.png' %>
          </div>
          <p class="name">tow chinese boys:i want it that way</p>
          <p class="public">Uploaded:</p>
          <p class="public">25 июн. 2005 г.</p>
          <p class="name2">Cow</p>
        </a>
        <a href="https://youtu.be/Kd15ku_BVR0" target="_blank" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/FirstBlog.png' %>
          </div>
          <p class="name">My First Kiss</p>
          <p class="public">Uploaded:</p>
          <p class="public">18 сент. 2006 г.</p>
          <p class="name2">lonelygirl15</p>
        </a>
        <a href="https://www.youtube.com/watch?v=dTAAsCNK7RA&feature=youtu.be" target="_blank" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/OkGO.png' %>
          </div>
          <p class="name">OK Go - Here It Goes Again</p>
          <p class="public">Uploaded:</p>
          <p class="public">26 февр. 2009 г.</p>
          <p class="name2">OK Go</p>
        </a>
      </div>
    </div>
  </div>
</div>
