<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>
  
  <div id="facebookArticle">
    <div class="facebookArticleHead">
      <%= image_tag 'articles/facebook/logo-left.jpg', :class => "logoLeft" %>
      <%= image_tag 'articles/facebook/logo-right.jpg', :class => "logoRight" %>
    </div>
    <div class="facebookArticleBody">
      <div class="menu">
        <p>Mark Zuckerberg</p>
        <p>Brief info</p>
        <p>Welcome to Thefacebook</p>
        <p>History of creation</p>
        <p>Significant events</p>
      </div>
      <div class="main">
        <div class="blueLine">
          <h2>Welcome to Thefacebook!</h2>
        </div>

        <div class="facebookBlock">
          <div class="blockLeft">
            <div class="blueLine">
              <h2>Photo of creator</h2>
            </div>
            <div class="photoMarkBlock">
              <%= image_tag 'articles/facebook/Mark.jpg', :class => "photoMark" %>
            </div>
          </div>

          <div class="blockRight">
            <div class="blueLine">
              <h2>Brief information</h2>
            </div>
            <div class="info">
              <p class="infoName">Main info</p>
              <div class="listLine">
                <ul>Link:</ul>
                <a href="https://www.facebook.com/">facebook.com</a>
              </div>
              <div class="listLine">
                <ul>Year:</ul>
                2004
              </div>
              <div class="listLine">
                <ul>Creator:</ul>
                Mark Zuckerberg
              </div>
              <div class="listLine">
                <ul>Type:</ul>
                Social Media
              </div>
            </div>
            <div class="info">
              <p class="infoName">Additional</p>
              <div class="listLine">
                <ul>Parental project:</ul>
                Facemash
              </div>
              <div class="listLine">
                <ul>Attendance:</ul>
                2 000 000 000
              </div>
              <div class="listLine">
                <ul>Status:</ul>
                The most popular <br> Social Media
              </div>
            </div>
          </div>
        </div>

        <div class="facebookText">
          <div class="blueLine">
            <h2>About Thefacebook</h2>
          </div>

          <h1>[ Welcome to Thefacebook ]</h1>
          <p>Facebook is an American Sotial Media, that was founded by Mark Zuckerberg along with his roommates, Eduardo Saverin, Andrew McCollum, Dustin Moskovitz and Chris Hughes, when they studied in Harvard College. Facebook is considered one of the Big Four technology companies along with Amazon, Google and Apple.</p>
          <p>The founders initially limited the website's membership to Harvard students or subsequently to students of such a considerable Colleges as Yale, Columbia and Stanford. Eventually the membership was expanded to the remaining other schools and colleges. Since 2006, anyone who claims to be at least 13 years old has been allowed to become a registered user of Facebook, in case the have an emal</p>

          <h1>[ History of creation ]</h1>
          <p>The idea of creation theFacebook was born in Phillips Exeter Academy. Annually the Academy published reference book called Facebook with names, photos and addresses of graduated students. Therefore Zuckerberg took the initiative of creation online facebook for students, when he entered the Harvard. However, the administration of college didn’t approve of this project, referring to Privacy Policy. Nevertheless Mark Zuckerberg decided to found web-project “Facemash”, it was comparable to Hot or Not and used "photos compiled from the online facebooks, placing two next to each other at a time and asking users to choose the "hotter" person".</p>
          <p>Facemash attracted 450 visitors and 22,000 photo-views in its first four hours.</p>
          <p>The website expanded like a shot, so it couldn’t be hided from college administration. Zuckerberg was accused in copyright infringement, intrusion into security and privacy, he was on the edge of expultion, fortunatly, indictments were released. Thus Mark resolved to restored original idea of the project.</p>
          <p>On February 4th in 2004 theFacebook was run.</p>
          <p>Users could post a photo of themselves and write a brief information about their personality, hobbies and so on. Meanwhile, registration was accessible only for Harvard students again. In its first month there more than a half of students entered the website.</p>
          <p>Facebook moved to California, where it was registered as a company in the middle of 2004.</p>

          <h1>[ Significant events ]</h1>
          <li>In 2009 users got access to choose the address of their own pages (instead of initial id), from now on the address of page looks like this: www.facebook.com/<my_page_address></li>
          <li>In 2010 group messages appeared, moreover users had an opportunity to post their emails. This year The Social Network film came out, it narrates about creation of the most popular sotial media.</li>
          <li>In 2011 Zuckerberg announced about launching the new service - Timeline. Timeline shows events and posts of user of all time and allow watching the life of the user.</li>
          <li>In 2012 Mark Zuckerberg declared that Facebook got one billion users. It meant that this is the only one social network with such a wide attendance, every seventh person all around the world has an account on Facebook.</li>
          <li>In 2014 Facebook launched section “Saved”, now users can save liked posts there and re-whatch it again.</li>
          <li>In 2017 Facebook peaked 2 000 000 000 users.</li>
        </div>
      </div>
    </div>
  </div>
</div>
