<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>

  <div id="facebookArticle">
    <div class="facebookArticleHead">
      <%= image_tag("articles/facebook/logo-left.jpg", srcset: [["articles/facebook/logo-left.jpg", "1x"], ["articles/facebook/logo-left@2x.jpg", "2x"]], :class => "logoLeft") %>
      <%= image_tag("articles/facebook/logo-right.jpg", srcset: [["articles/facebook/logo-right.jpg", "1x"], ["articles/facebook/logo-right@2x.jpg", "2x"]], :class => "logoRight") %>
    </div>
    <div class="facebookArticleBody">
      <div class="menu">
        <p>Марк Цукерберг</p>
        <p>Краткая информация</p>
        <p>Welcome to Thefacebook</p>
        <p>История создания</p>
        <p>Значимые события</p>
      </div>
      <div class="main">
        <div class="blueLine">
          <h2>Добро пожаловать в Thefacebook!</h2>
        </div>

        <div class="facebookBlock">
          <div class="blockLeft">
            <div class="blueLine">
              <h2>Фото создателя</h2>
            </div>
            <div class="photoMarkBlock">
              <%= image_tag 'articles/facebook/Mark.jpg', :class => "photoMark" %>
            </div>
          </div>

          <div class="blockRight">
            <div class="blueLine">
              <h2>Краткая информация</h2>
            </div>
            <div class="info">
              <p class="infoName">Основное</p>
              <div class="listLine">
                <ul>Ссылка:</ul>
                <a href="https://www.facebook.com/">facebook.com</a>
              </div>
              <div class="listLine">
                <ul>Год Создания:</ul>
                2004
              </div>
              <div class="listLine">
                <ul>Автор:</ul>
                Марк Цукерберг
              </div>
              <div class="listLine">
                <ul>Тип сайта:</ul>
                Социальная сеть
              </div>
            </div>
            <div class="info">
              <p class="infoName">Дополнительно</p>
              <div class="listLine">
                <ul>Родитель проекта:</ul>
                Facemash
              </div>
              <div class="listLine">
                <ul>Посещаемость:</ul>
                2 000 000 000 человек
              </div>
              <div class="listLine">
                <ul>Статус:</ul>
                Самая популярная <br> социальная сеть
              </div>
            </div>
          </div>
        </div>

        <div class="facebookText">
          <div class="blueLine">
            <h2>Про Thefacebook</h2>
          </div>

          <h1>[ Welcome to Thefacebook ]</h1>
          <p>Facebook - Американская социальная сеть, созданная Марком Цукербергом <br> и его сожителями по помнате в общежитии, Эдуардом Саверином, Эндрю МакКоллумом, Дастином Московицом и Крисом Хьюджесом, в то время, когда они учились в Гарварде. Facebook входит в Большую Четвёрку самых технологически развитых компаний на ряду с Amazon, Apple и Google.</p>
          <p>Изначально для регистрации в социальной сети нужно было быть студентом Гарварда или таких крупных университетов как Йель, Колумбийский университет, Стэнфорд. Позже регистрироваться можно было студентам и ученикам других учебных заведений. И уже в 2006 году регистрация стала доступна для всех пользователей старше 13 лет, при условии, что у него есть электронная почта.</p>

          <h1>[ История создания ]</h1>
          <p>Идея создания Facebook зародилась у Цукерберга ещё в школе Phillips Exeter Academy. Там каждый год выпускался справочник с именами, фотографиями и адресами учащихся. Когда же Цукерберг поступил в Гарвард, он выступил с инициативой создать веб-справочник для студентов университета, однако администация не одобрила этот проект, ссылаясь на политику конфиденциальности. Всё же Марк Цукерберг создал веб-проект под названием Facemash, где попарно размещались фотографии студентов с целью понять кто из двоих "горячее". Для создания своего сервиса Цукерберг взломал компьютерную сеть Гарвардского Университета и скачал частные фотографии студентов.</p>
          <p>Facemash в первые же часы работы привлёк 450 пользователей и 22 000 просмотра фотографий за 2 часа.</p>
          <p>Сайт разрастался стремительно, и не мог остаться незамеченным администрацией Гарварда, которые приложили усилия для закрытия сайта. Цукерберга обвинили в нарушении авторских прав, безопасности и неприкосновенности частной жизни, за такие нарушения он должен был быть исключён из образовательного учреждения, однако обвинения сняли. Так Марк Цукерберг решил вернуться к изначальной идеи проекта</p>
          <p>4 февраля 2004 года был запущен проект под названием Thefacebook</p>
          <p>На личной странице можно было выложить свою фотографию и написать информацию о себе. Однако изначально регистрация была открыта только для студентов Гарварда, уже после первого месяца существования соц. сети в ней зарегистрировалось больше половина учащихся.</p>
          <p>Facebook переезжает в Калифорнию и уже в середине 2004 года проект регистрируется как компания</p>

          <h1>[ Значимые события ]</h1>
          <li>В 2009 году появилась возможность для пользователя выбирать адрес своей страницы вместо id, теперь адресная строка личной сраницы выглядела как: www.facebook.com/<адрес_моей_страницы></li>
          <li>В 2010 году стала доступна возможность создания групповых чатов и публикация e-mail писем. Также выходит фильм "Социальная сеть", рассказывающая о создании самого популярного сервиса</li>
          <li>В 2011 году Цукерберг объявил о запуске нового сервиса Timeline, который наглядно показывает жизнь пользователя и события, которые происходят в его жизни.</li>
          <li>В 2012 году Марк Цукерберг объявил о появлении миллиардного пользователя, что делает платформу единственной в мире с более чем миллиардной аудиторией, т.е. каждый 7-ой житель планеты зарегистрирован в социальной сети.</li>
          <li>В 2014 году в сервисе запускается отдел "Сохранённое", который позволяет пользователям откладывать посты, записи или фотографии и посмотреть их позже</li>
          <li>В 2017 году Facebook достиг отметки в 2 000 000 000 пользователей</li>
        </div>
      </div>
    </div>
  </div>
</div>
