
<div id="<%= "folder_#{ @folder.id }" %>" class="computer foldercontent draggable about">
  <div class="menu_top">
    <span class="folder_title"><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="info">
    <div class="infoldercontent infolder information scrollbar">
      <h4>Information about the project</h4>
      <p>NetStory – это&nbsp;проект про&nbsp;историю интернета. На&nbsp;страницы собраны статьи о&nbsp; самых интересных событиях интернета &nbsp; момента его&nbsp;зарождения до&nbsp;наших дней. На&nbsp;рабочем столе подборка избранных статей, остальные
        статьи можно найти в&nbsp; «Папке».
      </p>
      <h4>About us</h4>
      <section class="creators">
        <div class="cardinside setting_border">
          <div class="card-avatar">
            <%= image_tag 'ann.svg' %>
          </div>
          <div class="card-details">
            <div class="name">Аня</div>
            <div class="occupation">Котенкова</div>

            <div class="card-about">
              <div class="item">
                <span class="value">2</span>
                <span class="labels">курс</span>
              </div>
              <div class="item">
                <span class="value">Б17ДЗ21</span>
                <span class="labels">группа</span>
              </div>
              <div class="item">
                <span class="value">Захар День</span>
                <span class="labels">куратор</span>
              </div>
            </div>
            <div class="skills">
              <span class="value"></span>
            </div>
          </div>
        </div>
        <div class="cardinside setting_border">
          <div class="card-avatar">
            <%= image_tag 'ann.svg' %>
          </div>
          <div class="card-details">
            <div class="name">Оля</div>
            <div class="occupation">Шумилова</div>

            <div class="card-about">
              <div class="item">
                <span class="value">2</span>
                <span class="labels">курс</span>
              </div>
              <div class="item">
                <span class="value">Б17ДЗ21</span>
                <span class="labels">группа</span>
              </div>
              <div class="item">
                <span class="value">Захар День</span>
                <span class="labels">куратор</span>
              </div>
            </div>
            <div class="skills">
              <span class="value"></span>
            </div>
          </div>
        </div>
        <div class="cardinside setting_border">
          <div class="card-avatar">
            <%= image_tag 'ann.svg' %>
          </div>
          <div class="card-details">
            <div class="name">Оксана</div>
            <div class="occupation">Кочуева</div>

            <div class="card-about">
              <div class="item">
                <span class="value">2</span>
                <span class="labels">курс</span>
              </div>
              <div class="item">
                <span class="value">Б17ДЗ21</span>
                <span class="labels">группа</span>
              </div>
              <div class="item">
                <span class="value">Захар День</span>
                <span class="labels">куратор</span>
              </div>
            </div>
            <div class="skills">
              <span class="value"></span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
