<div class="filtersChange hidden draggable">
  <div class="menuTop">
    <span class="folderTitle"></span>
    <div class="closeCardFilter">
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
  </div>
  <section class="setting setting100">
    <h3 class="settingTitle"><%= t('desktop.start.filter') %></h3>
    <div class="settingDropdownWrap">
      <button class="settingDropdownButton"><%= t('desktop.start.normal') %></button>
      <div class="dropdownArrowWrap">
        <%= image_tag 'dropdown-arrow.svg' %>
      </div>
      <div class="settingDropdown hidden">
        <a href="#" class="settingDropdownOption" id="normal">
        <%= t('desktop.start.normal') %>
        </a>
        <a href="#" class="settingDropdownOption" id="blackWhite">
          <%= t('desktop.start.bw') %>
        </a>
        <a href="#" class="settingDropdownOption" id="hueRotate">
          <%= t('desktop.start.inversion') %>
        </a>
        <a href="#" class="settingDropdownOption" id="negative">
          <%= t('desktop.start.negative') %>
        </a>
      </div>
    </div>
  </section>
</div>
