<!-- 

<div class="folder-content__wrap-overflow scrollbar">
  <div class="project-list nav_basic">
    <%= render "articles/err" %>
    <%= render "articles/gui" %>
    <%= render "articles/mailb" %>
    <%= render "articles/att" %>

    Email
    <div id="mailb" class="foldercontent draggable">
      <%= render "articles/email" %>
    </div>

    First Browser
    <div id="guiewrise" class="foldercontent draggable">
      <%= render "articles/firstbrowser" %>
    </div>


  </div>
 -->
