<div id="<%= "folder_#{ @folder.id }" %>" class="computer folderContent draggable spamwin">
  <div class="menuTop">
    <span class="folderTitle"><%= @folder.name %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="menuTop">
    <div class="closeBtn">
      <%= image_tag 'back.svg' %>
    </div>
    <div class="scaleImg">
      <%= image_tag 'back.svg' %>
    </div>
    <div class="reload">
      <%= image_tag 'reload.svg' %>
    </div>
    <div class="search">
      <p class="searchText">http://www.spam.com</p>
    </div>
  </div>
  <div class="infolderContent forInternet">
    <div class="google">
      <%= image_tag 'google.svg' %>
    </div>
    <div class="searchField"></div>
    <div class="searchButton"><p>Найти</p></div>
  </div>
</div>
