<div id="<%= "folder_#{ @folder.id }" %>" class="computer foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title"><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="menu_top">
    <div class="closebtn">
      <%= image_tag 'back.svg' %>
    </div>
    <div class="scaleimg">
      <%= image_tag 'back.svg' %>
    </div>
    <div class="reload">
      <%= image_tag 'reload.svg' %>
    </div>
    <div class="search">
      <p class="searchtext">http://www.spam.com</p>
    </div>
  </div>
  <div class="infoldercontent forinternet">
    <div class="google">
      <%= image_tag 'google.svg' %>
    </div>
    <div class="searchfield"></div>
    <div class="searchbutton"><p>Найти</p></div>
  </div>
</div>
