<!-- "My computer" folder -->
<div id="computer" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title">My computer</span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <!-- <div class="article-icon"></div> -->

  <div class="folder-content__wrap-overflow scrollbar">
    <div class="infoldercontent">
      <div class="">
        <ul class="project-list nav_basic">
          <li class="project-list__item">
            <span id="folderfolder" class="article-icon" data-title="Папка">
              <%= image_tag 'Papka.svg' %>
              <p>1970-е</p>
            </span>
          </li>
        </ul>
      </div>

      <!-- <div class="article-icon"></div> -->

      <div class="">
        <ul class="project-list nav_basic">
          <li class="project-list__item">
            <span id="folderfolder" class="article-icon" data-title="Папка">
              <%= image_tag 'Papka.svg' %>
              <p>1980-е</p>
            </span>
          </li>
        </ul>
      </div>

      <!-- <div class="article-icon"></div> -->

      <div class="">
        <ul class="project-list nav_basic">
          <li class="project-list__item">
            <span id="folderfolder" class="article-icon" data-title="Папка">
              <%= image_tag 'Papka.svg' %>
              <p>1990-е</p>
            </span>
          </li>
        </ul>
      </div>

      <div class="">
        <ul class="project-list nav_basic">
          <li class="project-list__item">
            <span id="folderfolder" class="article-icon" data-title="Папка">
              <%= image_tag 'Papka.svg' %>
              <p>2000-е</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
