<div id="setting" class="folderContent">
  <div class="titleContainer">
    <div class="title">NetStory<span>19</span></div>
  </div>
  <ul class="menuContainer">
    <li class="update"><%= t('desktop.start.update') %></li>
    <hr/>
    <li class="colorsbtn"><%= t('desktop.start.wallaper') %></li>
    <li class="filtersbtn"><%= t('desktop.start.settings') %></li>
    <hr/>
    <li class="shutDown"><%= t('desktop.start.goodbye') %></li>
    <li class="logOut"><%= t('desktop.start.sleep') %></li>
  </ul>
</div>
