<div class="updateOS hidden draggable">
  <div class="menuTop">
    <span class="folderTitle"></span>
    <div class="closeUpdate">
      <div class="closeBtnInactive">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
  </div>
  <div class="infolderContent">
    <h3><%= t('desktop.updating.downloading') %></h3>
    <div class="bar">
      <div class="downloaded"></div>
      <div class="shine"></div>
    </div>
    <div class="remaining">
      <p class="bold"><%= t('desktop.updating.remaining') %></p>
      <p class="stable"><%= t('desktop.updating.time') %></p>
      <p class="firstSecond"><%= t('desktop.updating.seconds') %></p>
      <p class="secondSecond"><%= t('desktop.updating.secondschanged') %></p>
    </div>
    <div class="cancel"><%= t('desktop.updating.cancel') %></div>
    </div>
  </div>
</div>
