<div id='<%= "folder_#{ @folder.id }" %>' class="foldercontent draggable computer <%= @folder.partial_name %>">
  <%= render 'folders/menu' %>
  <div class="content_inside">
    <%= render @folders %>
    <%= render @articles %>
    <%#= render 'folders/about' %>
  </div>
</div>
