<div id='<%= "folder_#{ @folder.id }" %>' class="mycomputer folderContent draggable computer <%= @folder.partial_name %>">
  <%= render 'folders/menu' %>
  <div class="contentInside">
    <%= render @folders %>
    <%= render @articles %>
  </div>
</div>
