<div id="computer" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title"><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>

    <%= link_to @my_computer_folder, class: 'back', remote: true do %>
      <%= image_tag 'back.svg' %>
    <% end %>
  </div>
  <div class="content_inside">
    <%= render @folders %>
    <%= render @articles %>
    <%#= render 'folders/about' %>
  </div>
</div>
