
<div class="folder-content__wrap-overflow scrollbar">
  <div class="infoldercontent">
    <div class="">
      <ul class="project-list nav_basic">
        <li class="project-list__item">
          <span id="folderfolder" class="article-icon" data-title="Папка">
            <%= image_tag 'Papka.svg' %>
            <!-- <p>1970-е</p> -->
            <%= link_to '1970-е', 'folders/folderWithArticles', folder: @folder, remote: true %>
          </span>
        </li>
      </ul>
    </div>

    <!-- <div class="article-icon"></div> -->

    <div class="">
      <ul class="project-list nav_basic">
        <li class="project-list__item">
          <span id="folderfolder" class="article-icon" data-title="Папка">
            <%= image_tag 'Papka.svg' %>
            <p>1980-е</p>
          </span>
        </li>
      </ul>
    </div>

    <!-- <div class="article-icon"></div> -->

    <div class="">
      <ul class="project-list nav_basic">
        <li class="project-list__item">
          <span id="folderfolder" class="article-icon" data-title="Папка">
            <%= image_tag 'Papka.svg' %>
            <p>1990-е</p>
          </span>
        </li>
      </ul>
    </div>

    <div class="">
      <ul class="project-list nav_basic">
        <li class="project-list__item">
          <span id="folderfolder" class="article-icon" data-title="Папка">
            <%= image_tag 'Papka.svg' %>
            <p>2000-е</p>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
