<section id="body">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <div id="Desktop">
    <div class="folderContainer" style="position:absolute"></div>
    <div class="computerContainer"></div>
    <div class="folderArticles" style="position:absolute"></div>


    <%= render @folders %>

    <%= render "task_bar" %>
    <%= render "articles/preview" %>
    <%= render "settings" %>
    <%= render "welcome_alert"%>
    <%= render "nodata"%>
    <%= render "colors"%>
    <%= render "filters"%>
    <%= render "screensaver"%>
    <%= render "shutdown"%>
    <%= render "sleep_mode"%>
    <%= render "update"%>

    <audio id="clickSound" src="assets/start.ogg" type="audio/ogg"></audio>
    <audio id="errorSound" src="assets/criticalstop.wav" type="audio/wav"></audio>
    <audio id="screamSound" src="assets/virus.mp3" type="audio/mp3"></audio>
    <audio id="shutDownSound" src="assets/shutdown.wav" type="audio/wav"></audio>

  </div>
</section>
