<p id="notice"><%= notice %></p>

<section id="body">

  <!-- Menubar -->
  <div id="Desktop">
    <div class="folderContainer"></div>
    <div class="folderArticles" style="position:absolute"></div>

    <%= render @folders %>


  <%= render "taskBar" %>
  <%= render "preview" %>
  <%= render "settings" %>
  <%= render "welcomeAlert" %>
  <%= render "about" %>
  <%= render "trash" %>
  <%= render "spams/spam" %>

</section>
