<section id="body">

    <div id="Desktop">
      <div class="folderContainer" style="position:absolute"></div>
      <div class="computerContainer"></div>
      <div class="folderArticles" style="position:absolute"></div>

      <%= render @folders %>

      <%= render "task_bar" %>
      <%= render "articles/preview" %>
      <%= render "settings" %>
      <%= render "welcome_alert"%>
      <%= render "nodata"%>
      <%= render "colors"%>
      <%= render "filters"%>
      <%= render "screensaver"%>
    </div>
</section>
