var parentFolderId = "#folder_" + "<%= @parent_folder.try(:id) ? @parent_folder.id : '' %>"
var folderId = "#folder_" + "<%= @folder.id %>"
var layer = parseInt(document.getElementsByTagName('body')[0].dataset.layer)
console.log(document.getElementsByTagName('body')[0].dataset.layer)
console.log(layer)

<% if @folder.same_window %>
  $('.folderContent' + parentFolderId).replaceWith('<%= j render partial: "#{ @folder.partial_name }" %>')
  $('.mycomputer .menuTop').append('<%= j render partial: "back", folder: @parent_folder %>')
  $('.taskbarItems' + parentFolderId).replaceWith('<%= j render "task_bar_folder" %>')
  $('.taskbarItems' + folderId).append('<p><%= @folder.name %></p>')
  $('.folderContent' + folderId).css("z-index", layer)
  document.getElementsByTagName('body')[0].dataset.layer = layer + 1
  <% elsif %>
  if ($('.folderContent' + folderId).length == 0) {
    $('body').append('<%= j render partial: "#{ @folder.partial_name }" %>')
    $('.taskbarElements').append('<%= j render "task_bar_folder" %>')
    $('.taskbarItems' + folderId).append('<p><%= @folder.name %></p>')
    $('.folderContent' + folderId).css("z-index",layer)
    document.getElementsByTagName('body')[0].dataset.layer = layer + 1
  }
<% end %>

$('.folderContent' + folderId).on("click", function() {
  $(this).css("z-index", layer)
    console.log('ff');
    document.getElementsByTagName('body')[0].dataset.layer = layer + 1
})

<% if @folder.partial_name === 'matrix'  %>
    $('#Desktop').append('<%= j render partial: "spams/spam" %>')
<% end %>


$(".draggable").draggable({
  zIndex: layer,
  stop: function() {
    document.getElementsByTagName('body')[0].dataset.layer = layer + 1
    $('.folderContent' + folderId).css("z-index", "1", document.getElementsByTagName('body')[0].dataset.layer)
  }
})

$(".contentInside .computerFolders").draggable({
  containment: ".contentInside",
})

//move to trash
$( "#containerFolder_9" ).droppable({
      drop: function( event, ui ) {
        $( this )
        // alert( "dropped" )
        //   $('#containerFolder_2').hide()
        $('.screenBack').removeClass('hidden')
      }
    })

//close
$('.closeBtn').on('click', function() {
  var id = $(this).parents('.folderContent').attr("id")
  $('.folderContent#' + id).remove()
  $('.taskbarItems#' + id).remove()
  $(this).parents('.spamWindow').remove()
})

//nodata
$('#unknown').on('click', function() {
  $('.nodata').remove('hidden')
  $('.nodata').css('display', 'flex')
  $('.re').on('click', function() {
    console.log('jh');
    location.reload(true)
  })
})



//spam
var spamLinks = document.querySelectorAll('[href="#spam"]'),
    spamWindows = document.querySelectorAll('.spamWindow'),
    spamContainer = document.querySelector('.spam');
var i;
var delay = 300,
  called = false

$('.searchButton').on('click', function() {
  console.log();
  for (i = 0; i < spamWindows.length; i++) {
    var time = delay * i;
    delayWindowOpen(spamWindows[i], time)
  }
  $('.spam').removeClass('hidden')
})

  function delayWindowOpen(el, time) {
    console.log(i);
    setTimeout(function() {
      el.classList.remove('hidden')
    }, time)
  }

spamContainer.addEventListener('click', function() {
  if (spamContainer.querySelector('.hidden')) {
    called = false;
    for (i = 0; i < spamWindows.length; i++) {
      spamWindows[i].classList.remove('.hidden')
    }
  }
})
