<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @folder.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @folder.icon %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
 -->
