<!-- <p id="notice"><%= notice %></p>

<h1>Folderfolders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folderfolders.each do |folderfolder| %>
      <tr>
        <td><%= link_to 'Show', folderfolder %></td>
        <td><%= link_to 'Edit', edit_folderfolder_path(folderfolder) %></td>
        <td><%= link_to 'Destroy', folderfolder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folderfolder', new_folderfolder_path %> -->
