<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= @article.title %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="facebookArticle">
    <div class="facebookArticleHead">
      <%= image_tag 'articles/facebook/logo-left.jpg', :class => "logoLeft" %>
      <%= image_tag 'articles/facebook/logo-right.jpg', :class => "logoRight" %>
    </div>
    <div class="facebookArticleBody">
      <div class="menu">
        <p>Марк Цукерберг</p>
        <p>Краткая информация</p>
        <p>Добро пожаловать в TheFacebook</p>
      </div>
      <div class="main">
        <div class="blueLine">
          <p>Добро пожаловать в TheFacebook!</p>
        </div>

        <div class="facebookBlock">
          <div class="blockLeft">
            <div class="blueLine">
              <p>Фото создателя</p>
            </div>
            <div class="photoMarkBlock">
              <%= image_tag 'articles/facebook/Mark.jpg', :class => "photoMark" %>
            </div>
          </div>

          <div class="blockRight">
            <div class="blueLine">
              <p>Краткая информация</p>
            </div>
            <div class="info">
              <p class="infoName">Основное</p>
              <div class="listLine">
                <ul>Ссылка:</ul>
                <a href="https://www.facebook.com/">facebook.com</a>
              </div>
              <div class="listLine">
                <ul>Год Создания:</ul>
                2004
              </div>
              <div class="listLine">
                <ul>Автор:</ul>
                Марк Цукерберг
              </div>
              <div class="listLine">
                <ul>Тип сайта:</ul>
                Социальная сеть
              </div>
            </div>
            <div class="info">
              <p class="infoName">Дополнительно</p>
              <div class="listLine">
                <ul>Изначальное название:</ul>
                Facemash
              </div>
              <div class="listLine">
                <ul>Посещаемость:</ul>
                2 000 000 000 человек
              </div>
              <div class="listLine">
                <ul>Статус:</ul>
                Самая популярная <br> социальная сеть
              </div>
            </div>
          </div>
        </div>

        <div class="facebookText">
          <div class="blueLine">
            <p>Немного про TheFacebook</p>
          </div>

          <h1>[ Welcome to TheFacebook ]</h1>
        </div>
      </div>
    </div>
  </div>
</div>
