<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= @article.title %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="wikiArticle">
    <div id="content" class="mwBody">
        <h1 id="firstHeading" class="firstHeading">Википедия</h1>
        <div id="bodyContent" class="mwBodyContent">
          <div id="siteSub"> Материал из Википедии — свободной энциклопедии </div>
          <div class="mwContentLtr">
            <div class="mwParserOutput">
              <table class="infobox" style data-name="Карточка сайта">
                <tbody>

                  <tr>
                    <th colspan="2" class="" style="text-align:center; font-size: 125%; background:#eaecf0;">Википедия</th>
                  </tr>

                  <tr>
                    <td colspan="2" style="text-align:center; padding: 0.75em 0;">
                      <%= image_tag 'articles/wikipedia/Wikipedia-logo-v2.png', :class => "styleImage", :style => "width: 88px; height: 80px;" %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" style="text-align:center;">
                        <%= image_tag 'articles/wikipedia/267px-Www.wikipedia.org_screenshot_2018.png', :class => "styleImage", :style => "width: 267px; height: 353px;" %>
                    </td>
                  </tr>

                  <tr>
                    <th>
                      <a title="URL">URL</a>
                    </th>
                    <td>>
                      <a class="external text" href="https://www.wikipedia.org">wikipedia.org</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Коммерческий</th>
                    <td>нет</td>
                  </tr>

                  <tr>
                    <th>Тип сайта</th>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%B0%D1%8F_%D1%8D%D0%BD%D1%86%D0%B8%D0%BA%D0%BB%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Интернет-энциклопедия">интернет-энциклопедия</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Регистрация</th>
                    <td>необязательная</td>
                  </tr>

                  <tr>
                    <th>Язык(-и)</th>
                    <td>301</td>
                  </tr>

                  <tr>
                    <th>Язык программирования</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/PHP" title="PHP">PHP</a>
                      (платформа
                      <a href="#" title="LAMP">LAMP</a>)
                    </td>
                  </tr>

                  <tr>
                    <th>Владелец</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B4_%D0%92%D0%B8%D0%BA%D0%B8%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0" title="Фонд Викимедиа">Фонд Викимедиа</a>
                      <sup id="cite_ref-1" class="reference">
                        <a href="https://www.dmagazine.com/frontburner/2016/05/the-business-of-wikipedia-how-jimmy-wales-built-the-free-encyclopedia/">[1]</a>
                      </sup>
                    </td>
                  </tr>

                  <tr>
                    <th>Автор</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлс</a>
                      и
                      <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Ларри">Ларри Сэнгер</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Начало работы</th>
                    <td>
                      <span class="nowrap">
                        <a href="https://ru.wikipedia.org/wiki/15_%D1%8F%D0%BD%D0%B2%D0%B0%D1%80%D1%8F" title="15 января">15 января</a>
                        <a href="https://ru.wikipedia.org/wiki/2001_%D0%B3%D0%BE%D0%B4" title="2001">2001</a>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <th>Текущий статус</th>
                    <td>функционирует и развивается</td>
                  </tr>

                  <tr>
                    <th>Слоган</th>
                    <td>the free encyclopedia that anyone can edit; свободная энциклопедия, которую может редактировать каждый</td>
                  </tr>

                  <tr>
                    <td colspan="2" class="" style="text-align:center;background:#eaecf0;;">
                      <a href="https://commons.wikimedia.org/wiki/Category:Wikipedia" title="commons:Category:Wikipedia">
                        <%= image_tag 'articles/wikipedia/15px-Commons-logo.svg.png', :class => "styleImage", :style => "width: 15px; height: 20px;" %>
                      </a>
                      &nbsp;
                      <a href="https://commons.wikimedia.org/wiki/Category:Wikipedia" class="extiw" title="commons:Category:Wikipedia">Википедия на&nbsp;Викискладе</a>
                    </td>
                  </tr>

                </tbody>
              </table>

              <p>
                <b>«Википе́дия»</b>
                (<a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA" title="Английский язык">англ.</a>
                &nbsp;
                <span style="font-style:italic;">Wikipedia</span>)&nbsp;—общедоступная многоязычная универсальная интернет-<a href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D1%86%D0%B8%D0%BA%D0%BB%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Энциклопедия">энциклопедия</a>
               со свободным контентом, реализованная на принципах<a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8" title="Вики">вики</a>. Расположена по адресу<a class="external text" href="https://www.wikipedia.org/">www.wikipedia.org</a>
               .
              </p>

              <p>Владелец сайта — американская некоммерческая организация
               «<a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B4_%D0%92%D0%B8%D0%BA%D0%B8%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0" title="Фонд Викимедиа">Фонд Викимедиа</a>»
               , имеющая 37 региональных представительств. Название энциклопедии образовано от английских слов wiki («вики»; в свою очередь заимствовано из гавайского языка, в котором оно имеет значение «быстро») и encyclopedia («энциклопедия»).
              </p>

              <p>Запущенная в январе 2001 года
                <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлсом</a>
                и
                <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Ларри">Ларри Сэнгером</a>, Википедия сейчас является самым крупным и наиболее популярным<sup id="cite_ref-2" class="reference"> <a href="https://www.alexa.com/siteinfo/wikipedia.org?range=5y&size=large&y=t">[2]</a></sup>
                справочником в Интернете<sup id="cite_ref-3" class="reference"> <a href="http://content.time.com/time/business/article/0,8599,1595184,00.html">[3]</a></sup>
                По объёму сведений и тематическому охвату Википедия считается самой полной энциклопедией из когда-либо создававшихся за всю историю человечества. В 2015 году число зарегистрированных участников русской Википедии превысило 1,7 млн. Одним из основных достоинств Википедии как универсальной энциклопедии является возможность представления информации на родном языке пользователя<sup id="cite_ref-4" class="reference"> <a href="http://filolingvia.com/news/2008-06-23-812">[4]</a></sup>. На май 2018 года разделы Википедии есть на 301 языке, а также на 493 языках в инкубаторе. Она содержит более 40 миллионов статей<sup id="cite_ref-5" class="reference"> <a href="https://meta.wikimedia.org/wiki/List_of_Wikipedias">[5]</a></sup>. Интернет-сайт Википедии является пятым по посещаемости сайтом в мире.
              </p>

              <p>Главной особенностью Википедии является то, что создавать и редактировать статьи в ней может любой пользователь<a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82" title="Интернет">Интернета</a>. Все вносимые такими добровольцами изменения незамедлительно становятся доступными для просмотра всем посетителям сайта. В декабре 2013 года в заявлении <a href="https://ru.wikipedia.org/wiki/%D0%AE%D0%9D%D0%95%D0%A1%D0%9A%D0%9E" title="ЮНЕСКО">ЮНЕСКО</a>по случаю награждения <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлса</a>, основателя Википедии, Золотой медалью Нильса Бора про Википедию было сказано, что она является «символом эпохи взаимодействия, в которую мы живём, и это не просто инструмент, это воплощение мечты, столь же древней, как человеческий интеллект и собрания Александрийской библиотеки»<sup id="cite_ref-4" class="reference"> <a href="http://www.unesco.org/new/en/member-states/single-view/news/unescos_niels_bohr_gold_medal_awarded_to_prominent_research/">[6]</a></sup>.
              </p>

              <p>Надёжность и точность Википедии вызывают вопросы. Википедию критикуют за возможность добавления ложной или непроверенной информации<sup id="cite_ref-7" class="reference"> <a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/07/08/AR2006070800135.html?noredirect=on">[7]</a></sup>
                и вандализма на её страницах. Однако научные исследования свидетельствуют о том, что в Википедии следы актов вандализма обычно оперативно устраняются.
              </p>

              <p><a href="https://ru.wikipedia.org/wiki/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F_%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Русская википедия">Раздел Википедии на русском языке</a>
                на 21 июня 2018 года занимает 7-е место по количеству статей среди всех языковых разделов.
              </p>

              <div id="toc" class="toc">
                <div class="toctitle" dir="ltr">
                  <h2>Содержание</h2>
                  <ul>

                    <li class="toclevel-1 tocsection-1">
                      <a href="#История">
                        <span class="tocnumber">1</span>
                        <span class="toctext">История</span>
                      </a>
                    </li>

                    <li class="toclevel-1 tocsection-2">
                      <a href="#Сообщество">
                        <span class="tocnumber">2</span>
                        <span class="toctext">Сообщество</span>
                      </a>
                    </li>

                    <li class="toclevel-1 tocsection-3">
                      <a href="#ВикипедияНаБумаге">
                        <span class="tocnumber">3</span>
                        <span class="toctext">Википедия на бумаге</span>
                      </a>
                    </li>

                    <li class="toclevel-1 tocsection-4">
                      <a href="#Значение">
                        <span class="tocnumber">4</span>
                        <span class="toctext">Значение</span>
                      </a>
                    </li>

                    <li class="toclevel-1 tocsection-5">
                      <a href="#РодственныеПроекты">
                        <span class="tocnumber">5</span>
                        <span class="toctext">Родственные проекты</span></a>
                    </li>
                  </ul>
                </div>
              </div>


              <h2>
                <span class="mw-headline" id="История">История</span>
              </h2>

              <div class="thumb tleft">
                <div class="thumbinner" style="width:222px;">
                  <%= image_tag 'articles/wikipedia/Nupedia_logo_and_wordmark.png', :class => "styleImage", :style => "width: 220px; height: 51px;" %>
                  <div class="thumbcaption">
                    Википедия первоначально развивалась от другого энциклопедического проекта, «Нупедии»
                  </div>
                </div>
              </div>

              <table style="float: right;" class="wikitable">
                <tbody>
                  <tr>
                    <td>
                      <%= image_tag 'articles/wikipedia/Jimbo_at_Fosdem_cropped.jpg', :class => "styleImage", :style => "width: 260px; height: 302px;" %>
                    </td>
                    <td>
                      <%= image_tag 'articles/wikipedia/200px-Larry_Sanger_02.jpg', :class => "styleImage", :style => "width: 200px; height: 300px;" %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлс</a>
                      и
                      <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Лоуренс">Ларри Сэнгер</a>
                      &nbsp;— основатели Википедии
                    </td>
                  </tr>
                </tbody>

              </table>

              <p>Википедия началась как дополнительный проект для «<a href="https://ru.wikipedia.org/wiki/%D0%9D%D1%83%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Нупедия">Нупедии</a>» — бесплатного англоязычного энциклопедического онлайн-проекта, чьи статьи были написаны специалистами и рецензированы в рамках формального процесса. «Нупедия» была основана 9 марта 2000 года как собственность Bomis, Inc. — компании, владеющей одноимённым веб-порталом. Ключевыми фигурами были <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлс</a>, CEO Bomis и <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Лоуренс">Ларри Сэнгер</a>, главный редактор «Нупедии», а затем Википедии. «Нупедия», первоначально лицензированная в соответствии со своей лицензией Nupedia Open Content License, перешла на GNU Free Documentation License перед основанием Википедии по настоянию Ричарда Столлмана.
              </p>

              <p>Основатели Википедии&nbsp;—<a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Лоуренс">Ларри Сэнгер</a> и <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми">Джимми Уэйлс</a><sup id="cite_ref-8" class="reference"> <a href="https://www.vice.com/en_us/article/bnppw4/wikipedias-co-founder-is-wikipedias-biggest-critic-511">[8]</a></sup> . В то время как Уэйлсу приписывается определение цели создания публично редактируемой энциклопедии, Сэнгеру обычно приписывают контринтуитивную стратегию использования вики для достижения этой цели. 10 января 2001 года <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Лоуренс">Ларри Сэнгер</a> в списке рассылки «Нупедии» предложил применить концепцию «вики» в отношении «Нупедии», чтобы ускорить её развитие. Это привело к созданию веб-сайта Википедии, которая изначально задумывалась для предварительной разработки материалов, которые потом были бы размещены в «Нупедии». Название «Википедия» также было предложено Ларри Сэнгером. Википедия была официально открыта 15 января 2001 года как одиночный англоязычный раздел и была анонсирована Сэнгером в списке рассылки «Нупедии». Политика «нейтральной точки зрения» в Википедии была введена в первые месяцы и была аналогична ранней политике «непредубеждения» в «Нупедии». В других отношениях, первоначально существовало относительно немного правил, и Википедия управлялась независимо от «Нупедии».
              </p>

              <p>Википедия получила ранних участников из «Нупедии», сообщений на Slashdot и за счёт индексации поисковыми машинами. Она выросла до примерно 20 000 статей и 18 языковых разделов к концу 2001 года. К концу 2002 года она достигла 26 языковых разделов, 46 к концу 2003 года и 161 к последним дням 2004 года. «Нупедия» и Википедия сосуществовали, пока серверы первой не были навсегда отключены в 2003 году (текст «Нупедии» был включён в Википедию). <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Английская Википедия"> Английская Википедия</a> прошла отметку в 2 млн статей 9 сентября 2007 года, что делает её крупнейшей энциклопедией, собравшей всё и затмившей даже <a href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D1%86%D0%B8%D0%BA%D0%BB%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F_%D0%AE%D0%BD%D0%BB%D1%8D" title="Энциклопедия Юнлэ">энциклопедию Юнлэ</a>), которая держала рекорд ровно 600 лет.
              </p>

              <p>В 2002 году Уэйлс объявил о том, что Википедия не будет отображать рекламу, и её веб-сайт был перемещён на wikipedia.org.</p>


              <h2>
                <span class="mw-headline" id="Сообщество">Сообщество</span>
              </h2>

              <div class="thumb tright">
                <div class="thumbinner" style="width:222px;">
                  <%= image_tag 'articles/wikipedia/Wikimania_2012_Group_Photograph-0001a.jpg', :class => "styleImage", :style => "width: 220px; height: 147px;" %>
                  <div class="thumbcaption"> Групповое фото с церемонии закрытия Викимании 2012 года — ежегодной конференции авторов Википедии и других проектов Фонда Викимедиа</div>
                </div>
              </div>

              <p>Пользователи Википедии&nbsp;— это:</p>
              <ul>
                <li>простые читатели Википедии (читатели Википедии, не сделавшие в ней ни одной правки);</li>
                <li>участники Википедии (читатели Википедии, сделавшие в ней хотя бы одну правку), которые в свою очередь делятся на анонимных участников и участников, создавших учётную запись. Анонимные участники не могут править защищённые статьи Википедии.</li>
              </ul>

              <p>Участники Википедии образуют <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F:%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%D0%B8" title="Категория:Википедия:Участники">сообщество участников Википедии</a>. Структура этого сообщества — иерархическая, то есть это своего рода структура власти. Участники Википедии с хорошей репутацией в сообществе могут баллотироваться на один из многих уровней добровольного руководства; это начинается с «администратора», самой большой группы привилегированных пользователей (1,594 Wikipedians for the English edition on September 30, 2008), которые имеют возможность удаления страниц, блокировки статей от изменений в случае вандализма или редакторских споров и блокировки участников. Несмотря на название, администраторы не имеют никаких особенных привилегий в процессе принятия решений, и им запрещено использовать свои полномочия для урегулирования споров. Роли администраторов часто описываются как «уборка» и в основном ограничиваются внесением правок, имеющих эффект в масштабах всего проекта (и поэтому запрещённых для обычных редакторов, чтобы минимизировать нарушения), а также блокировкой пользователей для предотвращения разрушительных правок, таких как вандализм.
              </p>

              <p>Поскольку Википедия развивается на основе нетрадиционной модели составления энциклопедии, вопрос «Кто пишет „Википедию“?» стал одним из наиболее часто задаваемых вопросов по проекту. Джимми Уэйлс однажды утверждал, что только «сообщество… преданная группа нескольких сотен добровольцев» делает основной вклад в Википедию и что этот проект является поэтому «очень похожим на любую традиционную организацию». Это было позже оспорено Аароном Шварцем, который отметил, что ряд просмотренных им статей имели крупные части содержания, внесёнными участниками с малым количеством правок<sup id="cite_ref-9" class="reference"><a href="http://www.aaronsw.com/2002/whowriteswikipedia/">[9]</a></sup>.
              </p>

              <p>Исследование учёных из Дартмутского колледжа, проведённое в 2007 году, установило, что анонимы и те пользователи, которые редко делают вклад в Википедию, являются таким же надёжным источником знаний, как и те, которые зарегистрированы на сайте<sup id="cite_ref-10" class="reference"><a href="https://www.scientificamerican.com/article/good-samaritans-are-on-the-money/">[10]</a></sup>. Хотя некоторые участники сильны в своей области, Википедия требует, чтобы даже их вклады были подкреплены опубликованными и поддающимися проверке источниками.
              </p>


              <h2>
                <span class="mw-headline" id="Википедия на бумаге">Википедия на бумаге</span>
              </h2>

              <p>В 2009 году художник Роб Мэттьюс (Rob Matthews) распечатал <a href="https://en.wikipedia.org/wiki/Wikipedia:Featured_articles" class="extiw" title="en:Wikipedia:Featured articles">избранные статьи английского раздела</a> Википедии на 5 000 страниц и сшил их в книгу с твёрдым переплётом. Как он написал в пояснении к этому проекту: «Воспроизведение Википедии в ущербной физической форме помогает легче ставить под сомнение разумность её использования».</p>
              <p>В 2010 году английский писатель Джеймс Брайдл (англ. James Bridle) выпустил в единственном экземпляре двенадцатитомное издание размером 7000 страниц, озаглавленное «Иракская война: Историография изменений в Википедии», в котором отображена каждая правка в англоязычной статье про Иракскую войну с декабря 2004 года по ноябрь 2009 года<sup id="cite_ref-11"><a href="http://jamesbridle.com/works/iraq-war-wikihistoriography">[11]</a></sup>.</p>


              <h2>
                <span class="mw-headline" id="Значение">Значение</span>
              </h2>

              <p>В дополнение к логистическому росту количества статей, Википедия неуклонно приобретала статус общего справочного сайта с момента её создания в 2001 году. На май 2018 года, согласно Alexa, Википедия занимала 5-е место среди самых посещаемых сайтов в мире<sup id="cite_ref-12"><a href="https://www.alexa.com/topsites/global">[12]</a></sup>, в Рунете — 9-е место. В первой десятке Википедия является единственным некоммерческим сайтом. Рост Википедии был вызван её доминирующей позицией в результатах поиска Google. Около 50 % трафика с поисковых систем в Википедию пришло с Google, большая часть этого трафика связана с научными исследованиями. В апреле 2007 года проектом Pew Internet & American Life Project было установлено, что треть американских интернет-пользователей консультируются с Википедией. По оценкам на октябрь 2006 года, сайт имел гипотетическую рыночную стоимость в 580 млн долларов, если бы он запустил рекламу.
              </p>

              <div class="thumb tright">
                <div class="thumbinner" style="width:302px;">
                  <%= image_tag 'articles/wikipedia/Wikimania_2012_Group_Photograph-0001a.jpg', :class => "styleImage", :style => "width: 300px; height: 163px;" %>
                  <div class="thumbcaption">
                    Комикс XKCD — пародия на распространённый в Википедии шаблон «источник»
                  </div>
                </div>

              </div>

              <p>Википедия используется в образовательном процессе, научных исследованиях, книгах, конференциях, при отправлении правосудия<sup id="cite_ref-13" class="reference"><a href="https://en.wikipedia.org/wiki/Wikipedia:Wikipedia_in_the_media">[13]</a></sup>, а также в работе различных министерств и ведомств. Так, сайт Парламента Канады ссылался на статью Википедии об однополых браках в разделе «Ссылки по теме» в списке «читать далее». Утверждения энциклопедии всё чаще используются в качестве источника такими организациями, как Федеральный суд США и Всемирная организация интеллектуальной собственности — хотя в основном в качестве поддерживающей информации, а не информации, имеющей решающее значение для дела. Содержание Википедии было цитировано в качестве источника и ссылки в некоторых докладах Разведывательного ведомства США. В 2013 году венгерские учёные показали, что с помощью Википедии можно предсказывать популярность и кассовые сборы фильмов, ещё не вышедших в прокат.
              </p>

              <p>Википедия была также использована в качестве источника в журналистике, иногда без указания авторства, а также несколько журналистов были уволены за плагиат из Википедии. Существует много пародий на открытость Википедии с персонажами, вандализирующими или изменяющими статьи онлайн-энциклопедии. Примечательно, что комик Стивен Колберт пародировал Википедию или ссылался на Википедию в многочисленных эпизодах его шоу The Colbert Report и придумал соответствующий термин «wikiality»<sup id="cite_ref-14"> <a href="http://www.cc.com/video-clips/z1aahs/the-colbert-report-the-word---wikiality">[14]</a></sup>.
              </p>

              <p>Помимо выполнения функции энциклопедического справочника, Википедия стала главным объектом внимания СМИ как сетевой источник последних новостей . Когда популярный американский еженедельник <a href="https://ru.wikipedia.org/wiki/Time" title="Time">Time</a> признал некоего абстрактного представителя миллионов вкладчиков пользовательского контента в различные сайты, носящего обобщённое имя «ты», «Человеком года — 2006», тем самым отмечая ускоряющийся успех онлайн-сотрудничества и взаимодействия миллионов интернет-пользователей по всему миру.
              </p>

              <p>Первый документальный фильм о Википедии, озаглавленный «<a href="https://ru.wikipedia.org/wiki/%D0%98%D1%81%D1%82%D0%B8%D0%BD%D0%B0_%D0%B2_%D1%86%D0%B8%D1%84%D1%80%D0%B0%D1%85:_%D0%A0%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D0%B7_%D0%BE_%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D0%B8" title="Истина в цифрах: Рассказ о Википедии">Истина в цифрах: Рассказ о Википедии</a>», был выпущен в 2010 году.</p>

              <p>22 октября 2014 года в польском городе Слубице был открыт первый в мире <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BC%D1%8F%D1%82%D0%BD%D0%B8%D0%BA_%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D0%B8" title="Памятник Википедии">памятник Википедии</a>.</p>

              <p>Учёными из Массачусетского технологического института (MIT) и Питтсбургского университета было проведено исследование об использовании ссылок на статьи из «Википедии» в научных работах. По словам авторов, его результаты свидетельствуют о том, что публикация научных знаний в доступных источниках является экономически эффективным способом продвижения науки, что особенно полезно для тех, кто не имеет доступа к традиционным источникам научной информации.</p>


              <h2>
                <span class="mw-headline" id="Родственные_проекты">Родственные проекты</span>
              </h2>

              <p>Фонд Викимедиа, компания-владелец и организатор Википедии, поддерживает и другие проекты по созданию свободных публикаций в Интернете:</p>

              <ul>
                <li>
                  <a href="https://ru.wiktionary.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" title="Викисловарь">Викисловарь</a> — многофункциональный словарь и тезаурус;
                </li>
                <li>
                  <a href="https://ru.wikiquote.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" title="Викицитатник">Викицитатник</a> — собрание цитат, крылатых фраз, пословиц и поговорок;
                </li>
                <li>
                  <a href="https://wikisource.org/wiki/Main_Page" title="Викитека">Викитека</a> — библиотека свободно распространяемых оригинальных текстов;
                </li>
                <li>
                  <a href="https://www.wikibooks.org/" title="Викиучебник">Викиучебник</a> — свободно распространяемая учебная литература;
                </li>
                <li>
                  <a href="https://www.wikiversity.org/" title="Викиверситет">Викиверситет</a>, позиционирующий себя как новая форма интерактивного образования и ведения открытых научных проектов;
                </li>
                <li>
                  <a href="https://www.wikinews.org/" title="Викиновости">Викиновости</a> — международное информационное агентство и открытое новостное интернет-издание;
                </li>
                <li>
                  <a href="https://commons.wikimedia.org/wiki/Main_Page" title="Викисклад">Викисклад</a> — общее централизованное хранилище мультимедийных файлов, включаемых в страницы проектов Фонда Викимедиа;
                </li>
                <li>
                  <a href="https://species.wikimedia.org/wiki/Main_Page" title="Викивиды">Викивиды</a> — справочник по таксономии биологических видов;
                </li>
                <li>
                  <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" title="Викиданные">Викиданные</a> — совместно редактируемая база знаний, созданная Фондом Викимедиа;
                </li>
                <li>
                  <a href="https://www.wikivoyage.org/" title="Викигид">Викигид</a> — открытый многоязычный проект, посвящённый туризму и созданию свободных путеводителей;
                </li>
                <li>
                  <a href="https://meta.wikimedia.org/wiki/Meta:About/ru" title="Мета-вики">Мета-вики</a> — веб-сайт, посвящённый координации и документации проектов Фонда Викимедиа.
                </li>
              </ul>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
