<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="youtubeArticle">
    <div class="blueMenu">
      <div class="youtubeMenu">
        <a href="#" class="home">Home</a>
        <td>|</td>
        <a href="#">My Videos</a>
        <td>|</td>
        <a href="#">My Favorites</a>
        <td>|</td>
        <a href="#">My Messages</a>
        <td>|</td>
        <a href="#">My Profile</a>
      </div>
      <div class="helpMenu">
        <a href="#">Sign Up</a>
        <td>|</td>
        <a href="#">Log In</a>
        <td>|</td>
        <a href="#">Help</a>
      </div>
    </div>
    <div class="youtubeLogoBlock">
      <div class="youtubeLogo">
        <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
        <p>Your Digital Video Repository</p>
      </div>
    </div>
    <div class="textYouTube">
      <p>Современный мир невозможно представить без YouTube. Сейчас это самая большая площадка для видеоблоггеров, музыкантов и многих людей, которые готовы делиться своими мыслями на весь мир.</p>
      <p>История видеохостинга уходит в 2005 год. Идея создания платформы принадлежит Стиву Чену, Чаду Хёрли и Джаведу Кариму. Достоверно неизвестно что именно послужило поводом для создания YouTube и какая была изначальная задумка, но вот три из самых популярных версий:</p>
      <p>Хёрли и Чен придумали YouTube после вечеринки у Чена дома, т.к. не могли поделиться видео с друзьями, сделанное на мероприятии. Карима не было на этой вечеринки, поэтому он отрицает эту версию.</p>
      <p>Джавид же говорит, что идея возникла, когда он по всему интернету пытался найти видео с Суперкубка, где у Джаннет Джексон обнажилась грудь, во время выступления с Джастином Тимберлейком. Позже он пытался найти видео с цунами в Индийском океане, случившимся в 2004 году.</p>
      <p>Хёрли и Чен утверждают, что изначальная YouTube создавался как сервис для знакомств, где пользователи могли обмениваться видео, а значит и лучше узнавать друг друга, а вдохновила их идея сайта Hot or Not (который позже перерос в Facebook).</p>
      <p>Аудитория сайта быстро росла, уже к июлю 2006 года компания объявила, что 65 000 видео загружаются ежедневно, и что сайт получает более миллиона просмотров.</p>
      <p>На площадке образовалось своё сообщество, объединяющее пользователей со всего мира, которые могут загружать, комментировать, оценивать видео. Любой, имея идею и цель может стать частью "креейторов". Сейчас пользователи YouTube составляют миллиардную аудиторию, которая создаёт целый мир, вдохнавляя всё новых и новых людей делиться своими мыслями и новыми идеями.</p>
    </div>
    <div class="greyMenu">
      <p>Видео</p>
      <div class="greyBlock">
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
          </div>
          <p class="name">kfjslkdjflksdj</p>
          <p class="public">Опубликовано:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/friends/taskbar.gif' %>
          </div>
          <p class="name">kfjslkdjflksdj</p>
          <p class="public">Опубликовано:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
          </div>
          <p class="name">kfjslkdjflksdj</p>
          <p class="public">Опубликовано:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
          </div>
          <p class="name">kfjslkdjflksdj</p>
          <p class="public">Опубликовано:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jNQXAC9IVRw" class="videoBlock">
          <div class="img">
            <%= image_tag 'articles/youtube/logo_of_youtube.svg' %>
          </div>
          <p class="name">kfjslkdjflksdj</p>
          <p class="public">Опубликовано:</p>
          <p class="public">23 апр. 2005 г.</p>
          <p class="name2">jawed</p>
        </a>
      </div>
    </div>
  </div>
</div>
