<p id="notice"><%= notice %></p>

<div id="Desktop">
  <div class="">
    <span id="infofolder" class="icon draggable" data-title="Справка">
      <%= image_tag 'about.png' %>
    </span>
  </div>
  <div class="">
    <span id="computerfolder" class="icon draggable" data-title="Мой компьютер">
      <%= image_tag 'computer.png' %>
    </span>
  </div>
  <div class="">
    <span id="folderfolder" class="icon draggable" data-title="Папка">
      <%= image_tag 'folder.png' %>
    </span>
  </div>
  <div class="">
    <span id="trashfolder" class="icon draggable" data-title="Корзина">
      <%= image_tag 'trash.png' %>
    </span>
  </div>
</div>

<div id="folder" class="foldercontent draggable">
  <div id="close-btn"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
</div>

<div id="trash" class="foldercontent draggable">
  <div id="close-btn"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
</div>

<div id="computer" class="foldercontent draggable">
  <div id="close-btn"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
</div>

<div id="info" class="foldercontent draggable">
  <div id="close-btn"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
</div>

<section class="article_main">

  <div class="massive_article">
    <% @articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  </div>

  <!-- <div class="button">
    <%= link_to 'New Article', new_article_path %>
  </div> -->

</section>
