<p id="notice"><%= notice %></p>

<!-- <button class="new-pos">new position</button> -->
<!--Menu-->
<div id="Desktop">

  <div class="">
    <span id="infofolder" class="icon draggable" data-title="Справка">
      <%= image_tag 'about.png' %>
    </span>
  </div>

  <div class="">
    <span id="computerfolder" class="icon draggable" data-title="Мой компьютер">
      <%= image_tag 'computer.png' %>
    </span>
  </div>

  <div class="">
    <span id="folderfolder" class="icon draggable" data-title="Папка">
      <%= image_tag 'folder.png' %>
    </span>
  </div>

  <div class="">
    <span id="trashfolder" class="icon draggable" data-title="Корзина">
      <%= image_tag 'trash.png' %>
    </span>
  </div>

</div>

<!--Welcome alert-->

<div class="container welcome draggable">
  <div class="card resizable">

    <div id="browser-top">
      <div id="close-btn"></div>
      <div id="min-btn"></div>
      <div id="full-btn"></div>
    </div>
    <div class="fakeScreen">
      <p class="line1">&#91;&nbsp;Привет! Добро пожаловать в проект NetStory<span class="cursor1">_</span></p>
      <p class="line2">&nbsp;&nbsp;Этот сервис поможет узнать вам об Интернете все!<span class="cursor2">_</span></p>
      <p class="line3">&nbsp;&nbsp;Открой Справку, чтобы узнать больше :)&nbsp;&#93; <span class="cursor3">_</span></p>
      <p class="line4">><span class="cursor4">_</span></p>
    </div>
  </div>
</div>

<div id="info" class="foldercontent draggable">
  <div id="close-btn" class="cbinfo"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <p>NetStory – это проект про историю интернета. На страницы собраны статьи о самых интересных событиях интернета с момента его зарождения до наших дней. На рабочем столе подборка избранных статей, остальные статьи можно найти в «Папке».
      <br>
      Переходи по годам и узнавай новые грани интернета вместе с NetStory!</p>
  </div>
</div>

<div id="computer" class="foldercontent draggable">
  <div id="close-btn" class="cbcomputer"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
<<<<<<< HEAD
    <div class="setting">
      <label>Background color</label>
      <div class="palette" id="bg-setting"></div>
    </div>
=======
    <div class="article-icon"></div>
>>>>>>> d3de11b225a71fc4930756a26356a779443fe11a
  </div>
</div>

<div id="folder" class="foldercontent draggable">
  <div id="close-btn" class="cbfolder"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
</div>

<div id="trash" class="foldercontent draggable">
  <div id="close-btn" class="cbtrash"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
<<<<<<< HEAD
  <div class="infoldercontent"></div>
=======
  <div class="infoldercontent">
    <div class="article-icon"></div>
  </div>
>>>>>>> d3de11b225a71fc4930756a26356a779443fe11a
</div>


<section class="article_main">

  <div class="massive_article">
    <% @articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  </div>
  <div id="log"></div>
<!--   <div class="button">
  <%= link_to 'New Article', new_article_path %>
</div>
 -->
</section>

<!-- статьи -->
<<<<<<< HEAD
<div class="allArticles">
  <!-- ошибка 404 -->
  <div id="err" class="foldercontent draggable">
    <div id="close-btn" class="cberr"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent">
      <div class="t" data-article="1">
=======
<div id="err" class="foldercontent draggable">
  <div id="close-btn" class="cbfolder"></div>
  <div id="min-btn"></div>
  <div id="full-btn"></div>
  <div class="infoldercontent">
  <div class="t" data-article="1">

  <h1>
      Error: 404 Not Found
  </h1>
  <div class="line"></div>
  <div class="text">
  <p> The requested URL/page.html was not found on this server</p>
  <p> До того, как современный интернет стал доступен по всему миру, сеть не была глобальной. Современные протоколы, которые в ней применяют, придумали в 80-х и 90-х годах в CERN. Тим Бернерс-Ли, изобретатель HTTP, самого известного из них, создал его на основе файлового протокола FTP. Бернерс-Ли ттакже изобрёл URI, URL, HTML и, конечно же, WWW в целом — аббревиатуры, знакомые любому опытному пользователю интернета.</p>
  <p> Версия HTTP 0.9, которая появилась в 1992 году, включала в себя коды состояния из трёх цифр. Первая обозначала вид сообщения: 1 — информационное, 2 — успех, 3 — перенаправление, 4 — ошибка клиента, 5 — ошибка сервера. Вторая цифра обозначала подгруппу сообщений, третья — конкретное сообщение в этой группе. Коды вроде 200 («хорошо») и 304 («не изменилось») мы никогда не видим, потому что вместо этих цифр браузеры отображают содержимое страниц. А вот ошибка 404 («не найдено») хорошо всем известна. С&nbspней сталкивался любой пользователь, кто неправильно вводил адрес страницы в строку браузера или&nbspпереходил по ссылке на несуществующую страницу.</p>
  <p> С ошибкой 404 связана городская легенда. Якобы в своё время в офисе CERN на четвёртом этаже была комната 404, где находился центральный сервер. Там сидели несколько человек, которые вручную обрабатывали приходившие запросы. Если запрос был ошибочным, то появлялось сообщение: «Room 404: file&nbspnot found». И хотя этто всего лишь легенда, она уже вошла в интернет-фольклор, а сама ошибка 404 стала часттью популярной культуры и сленга, полигоном для юмора веб-дизайнеров и символом благоттворительности</p>
  <p class="quote"> «Как человек, который работал в CERN, говорю вам, что комнаты 404 на четвёртом этаже офиса не&nbspбыло. В CERN комнаты нумеруют по-другому: первая цифра обозначает номер здания, а две других — номер комнаты. Но в здании номер 4 нет комнаты номер 04, отсчёт там начинается с 410 и идёт по&nbspнарастанию — не спрашивайте меня, почему». цит. Тим Бернерс-Ли</p>
  </div>
>>>>>>> d3de11b225a71fc4930756a26356a779443fe11a

        <h1>
          Error: 404 Not Found
        </h1>
        <div class="line"></div>
        <div class="text">
          <p>
            The requested URL/page.html was not found on this server</p>
          <p>
            До того, как современный интернет стал доступен по всему миру, сеть не была глобальной. Современные протоколы, которые в ней применяют, придумали в 80-х и 90-х годах в CERN. Тим Бернерс-Ли, изобретатель HTTP, самого известного из них, создал его на
            основе файлового протокола FTP. Бернерс-Ли ттакже изобрёл URI, URL, HTML и, конечно же, WWW в целом — аббревиатуры, знакомые любому опытному пользователю интернета.</p>
          <p>
            Версия HTTP 0.9, которая появилась в 1992 году, включала в себя коды состояния из трёх цифр. Первая обозначала вид сообщения: 1 — информационное, 2 — успех, 3 — перенаправление, 4 — ошибка клиента, 5 — ошибка сервера. Вторая цифра обозначала
            подгруппу сообщений, третья — конкретное сообщение в этой группе. Коды вроде 200 («хорошо») и 304 («не изменилось») мы никогда не видим, потому что вместо этих цифр браузеры отображают содержимое страниц. А вот ошибка 404 («не найдено») хорошо всем
            известна. С&nbspней сталкивался любой пользователь, кто неправильно вводил адрес страницы в строку браузера или&nbspпереходил по ссылке на несуществующую страницу.</p>
          <p>
            С ошибкой 404 связана городская легенда. Якобы в своё время в офисе CERN на четвёртом этаже была комната 404, где находился центральный сервер. Там сидели несколько человек, которые вручную обрабатывали приходившие запросы. Если запрос был ошибочным,
            то появлялось сообщение: «Room 404: file&nbspnot found». И хотя этто всего лишь легенда, она уже вошла в интернет-фольклор, а сама ошибка 404 стала часттью популярной культуры и сленга, полигоном для юмора веб-дизайнеров и символом
            благоттворительности</p>
          <p class="quote">
            «Как человек, который работал в CERN, говорю вам, что комнаты 404 на четвёртом этаже офиса не&nbspбыло. В CERN комнаты нумеруют по-другому: первая цифра обозначает номер здания, а две других — номер комнаты. Но в здании номер 4 нет комнаты номер 04,
            отсчёт там начинается с 410 и идёт по&nbspнарастанию — не спрашивайте меня, почему». цит. Тим Бернерс-Ли</p>
        </div>

      </div>
    </div>
  </div>
<<<<<<< HEAD


  <!-- первый браузер с ги -->
  <div id="guiewrise" class="foldercontent draggable">
    <div class="erwise" id="firstPage">

      <div class="text">
        <p>Иногда успех во многом зависит от судьбы, и история «Erwise» первого браузера с графическим интерфейсом прекрасно иллюстрирует это. Возможно, вы даже никогда не слышали о нём.</p>
        <p>Erwise должен был стать тем что популяризует всемирную сеть, у него было для этого всё, но не всё пошло так, как хотелось бы.</p>
        <h1>Разработчики Erwice — правильные люди</h1>
        <p>Ниша была совершенно новой. Интернет только что был изобретен Тимом Бернерсом-Ли в ЦЕРНе в Швейцарии. Он и его коллеги, в первую очередь Роберт Кайо, были заняты распространением информации и составлением стандартов для интернета. Хотя было
          разработано несколько браузеров, им не хватало совместимости или простоты использования.</p>
        <p>Для того, чтобы интернет стал популярным, Бернерс-Ли знал, что это потребность времени создание браузера на основе графического интерфейса — такого, который может работать на нескольких операционных системах, и что более важно, быть простым в
          использовании. Персональные компьютеры тогда тоже были новинкой!</p>
        <p>Поскольку Бернерс-Ли и его коллеги не успели создать новые браузеры, они уговорили других сделать это. Понимая, что развитие браузера может быть отличной темой для проектов, они начали посещать университеты в Европе.</p>
        <p>В 1991 году Роберт Кайо посетил Хельсинкский технологический университет. Четыре увлеченных молодых магистранта были сильно впечатлены встречей с ним и решили разработать браузер для своей диссертации.</p>
        <p>Ким Найберг, Теему Рантанен, Кати Суоминен и Кари Сыдянмаанлакка начали работать под руководством Ари Леммке. Они чувствовали сердцем, что это «большое дело».</p>
      </div>

      <div class="pages">
        <p class="number" id="1">1</p>
        <p class="number" id="2">2</p>
        <p class="number" id="3">3</p>
      </div>
    </div>

    <div class="erwise" id="secondPage">
      <div class="text">
        <h1>В нужном месте, в нужное время</h1>
        <p>Erwise был выпущен 15 апреля 1992 года. Он был написан для Unix X Window System и имел около двух тысяч строк кода. Четыре студента получили высшие оценки от своего профессора. В то время в мире было всего несколько браузеров. Разработчикам
          повезло участвовать в новой области. У них было преимущество первопроходца – Erwise был первым в мире графическим веб-браузером. Им также повезло быть в Финляндии и учиться в Хельсинкском технологическом университете — Финляндия в то время была одним
          из лидеров в области информационных технологий. Linux, служба коротких сообщений (SMS) и Internet Relay Chat (IRC) были большими инновациями в стране, а FUNET (сеть финских университетов) была создана почти десять лет назад.</p>
        <p>Так, не только Erwise был создан вовремя, но и находился также в правильном месте, поскольку были причасны к технологическому прорыву.</p>
        <h1>Возможности Erwise</h1>
        <p>У Erwise было много новшеств. Они могут показаться обычными на сегодняшний день, но на тот момент они были революционными!</p>
        <p>1. Это был первый в мире графический веб-браузер, который означает, что вы используете мышь для того, чтобы нажать на ссылку или перейти на другую веб-страницу.</p>
        <p>2.Стало можно искать по тексту, который написан на сайтах.</p>
        <p>3.В браузер также встроенно элементарный поиск, который позволяет искать текст на других веб-страницах, а не только тот, который загружен в Erwise.</p>
        <p>4.Несколько страниц могут быть загружены одновременно.</p>
        <h1>Почему Erwise не был успешен?</h1>
        <p>Erwise был выпущен почти за год до NCSA Mosaic, браузера, которому
        </p>
      </div>
    </div>

    <div class="erwise" id="thirdPage">
      <div class="text">
        <p>приписывают популяризацию интернета. По каким причинам он не набрал обороты?</p>
        <p>Это возвращает нас к понятию «судьба». Быть первым или очень хорошим не гарантирует успех. Много факторов вступают в игру, чтобы что-то стало значимым. В конце концов, мир полон переменных.</p>
        <p>Несмотря на то, что Финляндия являлась одной из ведущих стран в области технического прогресса, она пришла в упадок. Практически не было денег, которые можно было бы выделить. Университеты едва сводят концы с концами, а ангельское финансирование
          не существует.</p>
        <p>Студенты не могли коммерциализировать Erwise или даже продолжать работать над своим программным обеспечением. Хотя устойчивых оплачиваемых рабочих мест было мало, Найберг, Рантанен и Суоминен были подобраны Tekla Corporation. Кати Суоминен, теперь
          Кати Боргерс, вышла из айти и открыла магазин детской одежды. Erwise просто исчез из их жизни!</p>
        <p>И Erwise просто остался в области Unix X Windows. Он никогда не был портирован на другие операционные системы. Тим Бернерс-Ли однажды попытался поиграть с ним, но не смог добиться достойного прогресса, потому что большая часть документации была на
          финском языке.</p>
        <p>Это очень сильноотличается от того, что произошло с Mosaic NCSA в США. Марк Андреессен сотрудничал с Джимом Кларком и основал Mosaic Communications (позже Netscape Communications). Многие из первых разработчиков Мозаики также присоединились к
          компании, которая получила много финансирования от Kleiner Perkins Caufield & Byers.</p>
        <p>Mosaic вскоре превратился в Netscape Communicator, который управлял интернетом с почти 90% доли рынка незадолго до первой войны браузеров.</p>
      </div>
    </div>

    <div class="navigation">
      <div class="left">
        <div class="button prev">Пред. стр.</div>
        <div class="button">Назад</div>
        <div class="button next">След. стр.</div>
      </div>
      <div class="button" id="close">Закрыть</div>
    </div>

    <div class="popup">
      <div class="brow"></div>
      <div class="field"></div>
      <div class="logo"></div>
      <p id="first-child">WorldWideWeb browser for the X Window System</p>
      <p>Version 0.1 Alpha</p>
      <p>Authors: Kim Nyberg, Teemu Rantaen, Kati Suominen, Kari Syd(nmaanlakka</p>
      <p>E-mail: erwise@cs.hut.fi</p>
      <div class="button" id="popup-close">Ок</div>
    </div>
  </div>

  <!-- имейл -->
  <div id="mailb" class="foldercontent draggable">
    <div class="mailBackground">
      <div class="rectangle"></div>
      <div class="top_header">
        <h1>Electronic Mail Mailbox</h1>
        <h1>&lt;12,040&gt; NEW ELECTRONIC MAIL MESSAGES</h1>
      </div>

      <div class="messages">
        <p>[] from: Ray Tomlinson >> "something like QWERTYUIOP."</p>
        <p>[] to: Ray Tomlinson >> "It’s the first e-mail in the world"
        </p>
        <p>[] from: Ray Tomlinson >> "Рэй Томлинсон отправил первое сетевое сообщение в 1971 году"</p>
        <p>[] to: Ray Tomlinson >> "Подобно первому телеграфному или телефонному звонку, первое электронное письмо ознаменовало исторический момент в эволюции коммуникации."
        </p>
        <p>[] from: Ray Tomlinson >> "Это электронное письмо было просто тестовым сообщением самому себе."</p>
        <p>[] to: Ray Tomlinson >> "Оно было отправлено с одного компьютера на другой, стоявший рядом с ним в Кембридже, штат Массачусетс, через ARPANET, сеть компьютеров, которая была предшественником Интернета."
        </p>
        <p>[] from: Ray Tomlinson >> "Работая на Болта Беранека и Ньюмана (компанию, выбранную Министерством обороны США для создания ARPANET), Томлинсон дурачился с двумя программами под названием SNDMSG и READMAIL, которые позволяли пользователям оставлять
          сообщения друг для друга на одной машине."</p>
        <p>[] to: Ray Tomlinson >> "Он применил идею этих программ к третьей программе под названием CYPNET, которая позволяла пользователям отправлять и получать файлы между компьютерами."
        </p>
        <p>[] from: Ray Tomlinson >> "Комбинированная технология позволяет людям отправлять и получать файлы, которые могут быть добавлены между разными компьютерами."</p>
        <p>[] to: Ray Tomlinson >> "Несмотря на его новаторский успех с электронной почтой, Томлинсон более известен введением знака собаки "@" в качестве локатора в адресах электронной почты."
        </p>
      </div>

      <div class="bottom_header">
        <h1>Oopen</h1>
        <h1>Nnew</h1>
        <h1>Mmark as delicious meat</h1>
        <h1 class="date">1971-09-16T23:59:58.75</h1>
      </div>
    </div>
=======
  </div>
>>>>>>> d3de11b225a71fc4930756a26356a779443fe11a
  </div>
</div>
