<p id="notice"><%= notice %></p>

<section id="body">

  <!-- Menubar -->
  <div id="Desktop">
    <div class="">
      <span id="infofolder" class="icon draggable" data-title="Справка">
        <%= image_tag 'about.png' %>
      </span>
    </div>
    <div class="">
      <span id="computerfolder" class="icon draggable" data-title="Мой компьютер">
        <%= image_tag 'computer.png' %>
      </span>
    </div>
    <div class="">
      <span id="folderfolder" class="icon draggable" data-title="Папка">
        <%= image_tag 'folder.png' %>
      </span>
    </div>
    <div class="">
      <span id="trashfolder" class="icon draggable" data-title="Корзина">
        <%= image_tag 'trash.png' %>
      </span>
    </div>
  </div>

  <!-- Welcome alert -->
  <div class="container welcome draggable desk-elements">
    <div class="card resizable">

      <div id="browser-top">
        <div id="close-btn"></div>
        <div id="min-btn"></div>
        <div id="full-btn"></div>
      </div>
      <div class="fakeScreen">
        <p class="line1">&#91;&nbsp;Привет! Добро пожаловать в проект NetStory<span class="cursor1">_</span></p>
        <p class="line2">&nbsp;&nbsp;Этот сервис поможет узнать вам об Интернете все!<span class="cursor2">_</span></p>
        <p class="line3">&nbsp;&nbsp;Открой Справку, чтобы узнать больше :)&nbsp;&#93;
          <span class="cursor3">_</span></p>
        <p class="line4">><span class="cursor4">_</span></p>
      </div>
    </div>
  </div>

  <!-- "About" folder -->
  <div id="info" class="foldercontent draggable">
    <div id="close-btn" class="cbinfo"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent infolder">
      <h4>Information about the project</h4>
      <p>NetStory – это&nbsp;проект про&nbsp;историю интернета. На&nbsp;страницы собраны статьи о&nbsp; самых интересных событиях интернета <br>с&nbsp; момента его&nbsp;зарождения до&nbsp;наших дней. На&nbsp;рабочем столе подборка избранных статей, остальные
      статьи можно найти <br>в&nbsp; «Папке».
      </p>
      <div class="share-button">
        <div class="lid">Поделиться</div>
        <div class="share-items-wrapper">
          <div class="share-items">
            <a href="#" class="share-item">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-instagram"></span>
            </a>
          </div>
        </div>
        <div class="thank-you">
          Спасибо!
        </div>
      </div>
    </div>

  </div>

  <!-- "My computer" folder -->
  <div id="computer" class="foldercontent draggable">
    <div id="close-btn" class="cbcomputer"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent">
      <div class="infolder setting">
        <h4>Background color</h4>
        <div class="bgcolors">
          <div id="pink" class="backgroundcolor"></div>
          <div id="blue" class="backgroundcolor"></div>
          <div id="yellow" class="backgroundcolor"></div>
          <div id="black" class="backgroundcolor"></div>
        </div>
      </div>
    </div>
    <div class="article-icon"></div>
  </div>

  <!-- Folder with articles -->
  <div id="folder" class="foldercontent draggable">
    <div id="close-btn" class="cbfolder"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent">
      <div id="er" class="article-icon">
        <p>Ошибка 404</p>
      </div>
      <div id="gui" class="article-icon">
        <p>Erwise</p>
      </div>
      <div id="mailb" class="article-icon">
        <p>Первый E-mail</p>
      </div>
      <div id="att" class="article-icon">
        <p>Первый лендинг</p>
      </div>
    </div>
  </div>

  <!-- Trash -->
  <div id="trash" class="foldercontent draggable">
    <div id="close-btn" class="cbtrash"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent"></div>
  </div>

  <section class="article_main"></section>

  <!-- Preview on the desktop -->

  <div id="fastlink_erwise" class="draggable desk-elements">
    <div id="close-btn" class="cbfastlink_erwise"></div>
  </div>
  <div id="fastlink_att" class="draggable desk-elements"></div>

  <!-- Articles -->
  <div class="allArticles">

    <!-- Error404 -->
    <div id="err" class="foldercontent draggable">
      <div id="close-btn" class="cberr"></div>
      <div id="min-btn"></div>
      <div id="full-btn"></div>
      <div class="infoldercontent">
        <div class="t" data-article="1">
          <%= render "error404" %>
        </div>
      </div>
    </div>

    <!-- First Landing -->
    <div id="landing" class="foldercontent draggable">
      <div id="close-btn" class="cblanding"></div>
      <div id="min-btn"></div>
      <div id="full-btn"></div>
      <div id="old" style="width:650px;">
        <%= render "firstlanding" %>
      </div>
    </div>

    <!-- Email -->
    <div id="mailb" class="foldercontent draggable">
      <div class="mailBackground">
        <div id="close-btn" class="cbmail"></div>
        <div class="rectangle"></div>
        <%= render "email" %>
      </div>
    </div>

    <!-- First Browser -->
    <div id="guiewrise" class="foldercontent draggable">
        <%= render "firstbrowser" %>
      </div>
    </div>

  </div>



  <div class="container video draggable desk-elements">
    <div class="card">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/21eFwbb48sE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      <div class="card-content">
        <h1>Кто придумал интернет? И зачем...</h1>
        <h4>#VIDEO // 19 Декабря 2018</h4>
      </div>
    </div>
  </div>


</section>
