<div id="<%= "folder_#{ @folder.id }" %>" class="computer folderContent draggable credits">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @folder.name : @folder.name_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="info">
    <div class="infolderContent infolder information scrollbar">
      <h4>Над проектом работали</h4>
      <p>
        Студенты второго курса <%= link_to 'ФКМД', 'https://cmd.hse.ru', :target => "_blank" %> образовательной программы Дизайн  по&nbspнаправлению <%= link_to 'Дизайн и программирование', 'https://design.hse.ru/dir/programming', :target => "_blank" %>.
      </p>

      <section class="creator right">
        <div class="figure pink"></div>
        <div class="photo">
          <div class="img">
            <%= image_tag 'credits/kotenkova.png' %>
          </div>
        </div>
        <div class="info">
          <h4>Аня<br>Котенкова</h4>
          <div class="line"></div>
          <div class="details">
            <h2>Социальные сети</h2>
            <div class="socialNet">
              <%= link_to image_tag('social/instagram.svg'), 'https://www.instagram.com/darknesswithinher/', :target => "_blank" %>
              <%= link_to image_tag('social/facebook.svg'), 'https://www.facebook.com/kotenkova.ania', :target => "_blank" %>
            </div>
          </div>
        </div>
      </section>

      <section class="creator">
        <div class="info">
          <h4>Оксана<br>Кочуева</h4>
          <div class="line"></div>
          <div class="details">
            <h2>Социальные сети</h2>
            <div class="socialNet">
              <%= link_to image_tag('social/instagram.svg'), 'https://www.instagram.com/_mirero_/', :target => "_blank" %>
              <%= link_to image_tag('social/facebook.svg'), 'https://www.facebook.com/profile.php?id=100018275406088', :target => "_blank" %>
            </div>
          </div>
        </div>
        <div class="figure blue"></div>
        <div class="photo">
          <%= image_tag 'credits/kochueva.png' %>
        </div>
      </section>

      <section class="creator right">
        <div class="figure yellow"></div>
        <div class="photo">
          <%= image_tag 'credits/shumilova.png' %>
        </div>
        <div class="info">
          <h4>Оля<br>Шумилова</h4>
          <div class="line"></div>
          <div class="details">
            <h2>Социальные сети</h2>
            <div class="socialNet">
              <%= link_to image_tag('social/instagram.svg'), 'https://www.instagram.com/olshum_/', :target => "_blank" %>
              <%= link_to image_tag('social/facebook.svg'), 'https://www.facebook.com/profile.php?id=100006642703665', :target => "_blank" %>
            </div>
          </div>
        </div>
      </section>

      <h4 class="cr">Куратор проекта</h4>

      <section class="creator">
        <div class="info">
          <h4>Захар<br>День</h4>
          <div class="line"></div>
          <div class="details">
            <h2>Социальные сети</h2>
            <div class="socialNet">
              <%= link_to image_tag('social/instagram.svg'), 'https://www.instagram.com/zakharday', :target => "_blank" %>
              <%= link_to image_tag('social/facebook.svg'), 'https://www.facebook.com/zakharday', :target => "_blank" %>
            </div>
          </div>
        </div>
        <div class="figure cyan"></div>
        <div class="photo">
          <%= image_tag 'credits/day.png' %>
        </div>
      </section>
    </div>
  </div>
</div>
