<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>

  <div id="netscapeArticle">
    <span class="netscapeHead">
      <div class="browserLine">
        <div class="netscapeButton"><%= image_tag 'back.svg' %></div>
        <div class="netscapeButton forward"><%= image_tag 'back.svg' %></div>
        <div class="netscapeButton"><%= image_tag 'reload.svg' %></div>
        <div class="netscapeButton"><%= image_tag 'x.svg' %></div>
        <div class="searchField">
          <p>http://www.netscape.com/</p>
          <div class="netscapeIcon">
            <%= image_tag 'Netscape-icon.png' %>
          </div>
        </div>
      </div>
      <div class="searchTab">
        <div class="lineTab">
          <div class="netscapeTab"></div>
        </div>
      </div>
    </span>
    <span class="netscapeBody">
      <div class="netscapeWelcome">
        <%= image_tag 'welcome_netscape.png' %>
      </div>
      <div class="netscapeLink">
        <%= image_tag 'netscape_link' %>
      </div>
      <div class="netscapeText">
        <span class="netscapeFirstPage">
          <h1>
            Netscape vs Internet Explorer</h1>
          <p class="firstText">«Browser wars» started in the middle of 90th, when the world only began to use the Internet. The World Wide Web was still incomprehensible space. Those who decided to visit the Internet found themselves out in the middle of the technological arms race. By the end of 1992, besides the first browser called WorldWideWeb there appeared a big amount of similar programmes that in majority were based on library Libwww so that caused a competition.
These programmes were Line&nbspMode&nbspBrowser, ViolaWWW, Erwise, MidasWWW, MacWWW<br>and others. The next browsers, that were released in 1993 were Cello, Arena, Lynx, tkWWW и NCSA Mosaic. The most influential was Mosaic, multiplatform browser was developed by NCSA.</p>
          <p>In October of 1994 Mosaic was on the way to transforming of web interface standard. Some companies licensed Mosaic to create their own commercial browsers. One of Mosaic developers, Marc Andreessen, founded  Mosaic Communications Corporation  and released new web browser called Mosaic Netscape. To solve problems of NCSA licensing the company was renamed to Netscape Communications Corporation, and the browser was started to call as Netscape Navigator. The Netscape Browser improved convenience and security of Mosaic, it got opportunities to show pages gradually, as they loaded. In months before releasing Netscape Navigator on December of 1994, command started beta testing of browser, providing downloading on their website. It helped them to detect errors fester and to show openness of the system, that went side by side with World Wide Web. After official release of browser Netscape saved this practice by making beta versions free for download. By 1995 due to unpaid downloading for non-commercial usage the browser dominated in Network. Till that time there were released some browsers including Microsoft Internet Explorer.</p>
          <p>By the middle of 1995 the Internet obtained wide media coverage. Netscape Navigator was the most widely used web browser so Microsoft acquired a license on Mosaic to develop Internet Explorer 1.0, that was released as a part of a package of Windows 95 Plus. After 3 months there was available the second version of the browser — Internet Explorer 2.0. In contrast to Netscape Navigator, it was free for all Windows users, even to commercial companies.</p>
          <p>A conflict that appeared between Netscape and IE got too much publicity and determined a way of web evolution for years. New versions of Internet Explorer and Netscape browsers that were released during next few years trying to overtake each other. Development was very intensive that time browsers supported JavaScript and a big amount of HTML tags. Internet Explorer began to catch up Netscape browser by 1996, in the third version that was attached to OS Windows 95 OSR2, got support of scripts and the first commercial support of CSS. That moment can be determined as a start of browsers war, Этот момент можно считать началом войны браузеров, ended with drop of Netscape and with triumph of Internet Explorer that occupied more than 95 % of market.</p>
            <p class="headings">«Microsoft assault web»</p>
        </span>
        <p class="loadMore">Load more</p>
        <span class="netscapeSecondPage">
          <p>During the press conference Gates claimed that in next few months Microsoft will invest into the Web. Microsoft bet for the Internet. But what about rivalry? Well, it was clear that Gaits didn’t want only to enter the market. He wanted to be dominant there.</p>
          <p>During the next several years Netscape and Microsoft waged war. It was not rarity when every month there appeared new versions of each browser. For the most of the users this war was below their head. All of them saw where from the vortex of new fitches goes. Hidden support of plugins appeared proprietary representation of HTML elements and different unique hacks. Even when some from browsers began supporting standards they did it superficially. So when «functions» were supported by both of browsers they often were interpreted and showed differently.</p>
          <p>Now imagine for a moment that you are a web-designer from that times. You still try to get through specific of HTML that is still looks very indefinite. But then Netscape says that you can add scrolled banner in the beginning of your website! That’s why you try to add it. But it doesn’t work on Internet Explorer. But on Internet Explorer you can use positioning of CSS. Of course it won’t work on Netscape browser. It’s expected that in the middle and in the end of 90th it was ordinary to see such inscriptions: «Better to watch on Netscape» or «Better to watch on Internet Explorer». Without standards for regularly changing functions and with two competitive companies, supporting was fragmented and supplying crippled. Many developers didn’t have choice but to adopt their websites for only one of the browsers.
Obviously, all in all users were victims.</p>
          <p>In the third version Netscape introduced multiple functions that are used used. Such things as tables and frames, auto completing forms and improved version of Javascript. It could be mentioned that with this version Netscape reached a peak of browser usage, unbelievable 90%.</p>
            <p class="headings">«Microsoft starts the war for network»</p>
          <p>After this Netscape began to focus on corresponding functions. Starting with 4th version they added into their browser set of instruments combined to Netscape Communicator. Communicator added instruments for email, IRC and news. For  many of them it meant convenience combined in one space. For others it made the browser bloated and cumbersome.</p>
          <p>Microsoft had chosen a different way. In spite of adding extensions into browser they used their strong market position of PCs. Therefore even when Internet Explorer got better and went after Netscape, Microsoft started promotion through their distribution channels. They provided the browser free to PC producers and the Internet supplier to link them with hardware. They reduced the price of the browser for Microsoft Windows users. Moreover they payed to huge web portals, such as AOL to encourage users to IE.</p>
          <p>Subsequently, by releasing Internet Explorer 3.0 Microsoft did the hit. They included this version into set of operating system of Windows 95. From that time users didn’t need to go to the local electronic store and make it multiple choice. They had built-in free browser that worked as much as same way as any other browser. It even boasted some new unique functions such as wide supporting of CSS.</p>
          <p>Netscape didn’t give up without a fight and in 1997 sued the Microsoft accusing the company of monopoly. The main reason of claim was integration Internet Explorer into Windows that violating standards of fair competition. Everyone was waiting exciting trial so it didn’t disappointed viewers – it was as breathtaking as a final of sport competition.</p>
          <p>Microsoft’ lawyers assumed as browser was added on original code and it is impossible to remove it from current version of OS. Netscape insisted that that was a lie and offered their own way of solving the situation – total ban of Internet Explorer. Gates had a convincing argument: by integration of IE the corporation provides to their users high-quality soft and to block browser would be unfair to them.</p>
          <p>Eventually Microsoft promised to release Windows 95 without IE, but due to appeals that prohibit integration IE these restrictions didn’t extend to the next version of OS that was waiting to come to light.</p>
          <p>This decision seemed unfair to lot of people so representatives of Microsoft wound up in court. This time the company was threatened by breakdown because of violation of Antimonopoly Law, but this fate was avoided thanks to lawyers. While these complex trial proceedings the judge needed to be replaced: the Mictosoft’s lawyers referencing to judge’s claims proved that he had shared animosity with the company and its creator. As the result the trial continued more calmly.</p>
          <p>The Netscape was suffered most of all by this verdict. Without help from public authorities Clark and Andrissen tried to compete with giant but didn’t have success. Trying to take advantage over Microsoft, the company started to release new versions of Navigator too fast, so the quality of software suffered. The brand tried to be a serious competitor to Microsoft in different ways of software development but failed.</p>
          <p>All in all the company was sold several times. In 2003 it was dissolved. For the last Netscape opened the original code of the browser. They tried to do everything to give a life for it.</p>
          <p>To conclude, Microsoft was a winner in the first browsers war. It seemed that the company enslaved this sphere for ever. The giant got away with it, although it faced with long trials. The loss of Netscape was due to some mistakes, the main was – reluctance in fighting with Microsoft. However its heritage caused new battles where the leader turned into an itcher.</p>

        </span>
      </div>
    </span>
  </div>
</div>
