<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>

  <div id="netscapeArticle">
    <span class="netscapeHead">
      <div class="browserLine">
        <div class="netscapeButton"><%= image_tag 'back.svg' %></div>
        <div class="netscapeButton forward"><%= image_tag 'back.svg' %></div>
        <div class="netscapeButton"><%= image_tag 'reload.svg' %></div>
        <div class="netscapeButton"><%= image_tag 'x.svg' %></div>
        <div class="searchField">
          <p>http://www.netscape.com/</p>
          <div class="netscapeIcon">
            <%= image_tag 'Netscape-icon.png' %>
          </div>
        </div>
      </div>
      <div class="searchTab">
        <div class="lineTab">
          <div class="netscapeTab"></div>
        </div>
      </div>
    </span>
    <span class="netscapeBody">
      <div class="netscapeWelcome">
        <%= image_tag 'welcome_netscape.png' %>
      </div>
      <div class="netscapeLink">
        <%= image_tag 'netscape_link' %>
      </div>
      <div class="netscapeText">
        <span class="netscapeFirstPage">
          <h1>
            Netscape vs Internet Explorer</h1>
          <p class="firstText">«Браузерные войны» стартовали в середине 90-х годов, когда мир только начинал знакомиться с интернетом. Всемирная сеть все еще была неопределенной средой. Те, кто впервые решил посетить веб, обнаруживали себя стоящими посреди
            гонки технологических вооружений. К концу 1992 года, кроме самого первого браузера под&nbspназванием WorldWideWeb, на рынке, ожидаемо спровоцировав конкурентную борьбу, появилось множество других подобных программ, большинство из которых было
            основано на библиотеке libwww. Это&nbspбыли&nbspLine&nbspMode&nbspBrowser, ViolaWWW, Erwise, MidasWWW, MacWWW<br>и другие. Следующими браузерами, выпущенными в 1993 году,&nbspбыли Cello, Arena, Lynx, tkWWW и NCSA Mosaic. Самым влиятельным из них был Mosaic, мультиплатформенный браузер, разработанный в NCSA.</p>
          <p>В октябре 1994 года Mosaic был на пути к превращению в эталонный для всего мира веб-интерфейс. Несколько компаний лицензировали Mosaic, чтобы создать свои собственные коммерческие браузеры. Один из разработчиков Mosaic, Марк Андриссен, основал
            Mosaic Communications Corporation и создал новый веб-браузер под названием Mosaic Netscape. Чтобы разрешить проблемы лицензирования с NCSA, компания была переименована в Netscape Communications Corporation, а браузер — в Netscape Navigator. Браузер
            Netscape улучшил удобность и надёжность Mosaic и получил возможность отображать страницы постепенно, по мере их загрузки. В месяцы, предшествовавшие выпуску Netscape Navigator в декабре 1994 года, команда начала бета-тестирование своего браузера,
            предоставив загрузку на своем сайте. Это помогло им быстро обнаружить ошибки и показать открытость системы, которая шла бок о бок с World Wide Web. После официального релиза браузера Netscape сохранила эту практику, сделав пробные версии своего
            браузера бесплатными для загрузки. К 1995 году, благодаря своей бесплатности для некоммерческого использования, браузер доминировал в сети. К этому времени в свет вышли ещё несколько браузеров, в числе которых был и Microsoft Internet Explorer.</p>
          <p>К середине 1995 года интернет получил широкое освещение в поп культуре и СМИ. Netscape Navigator был самым широко используемым веб-браузером и Microsoft приобрела лицензию на Mosaic, чтобы создать Internet Explorer 1.0, выпущенный как часть пакета
            Windows 95 Plus. Спустя три месяца бесплатно была доступна вторая версия браузера — Internet Explorer 2.0. В отличие от Netscape Navigator, он был бесплатно доступен всем пользователям Windows, даже коммерческим компаниям.</p>
          <p>Конфликт, который произошёл между Netscape и IE, получил широкую огласку и определил путь развития веба на многие годы. Новые версии браузеров Internet Explorer и Netscape в течение нескольких следующих лет выпускались, пытаясь обогнать друг
            друга. Разработка была очень интенсивной, в это время в браузерах появилась поддержка JavaScript и множества HTML-тэгов. Internet Explorer начал догонять браузер Netscape к 1996 году, в третьей версии, прилагающейся к ОС Windows 95 OSR2, приобретя
            поддержку скриптов и первую на рынке коммерческую поддержку CSS. Этот момент можно считать началом войны браузеров, закончившейся полным падением Netscape и триумфом Internet Explorer, занявшего более 95 % рынка.</p>
            <p class="headings">«Microsoft штурмует веб»</p>
        </span>
        <p class="loadMore">Загрузить больше</p>
        <span class="netscapeSecondPage">
          <p>Во время пресс-конференции Гейтс объявил, что в ближайшие месяцы Microsoft будет еще больше вкладываться в веб. Microsoft ставил большие ставки на интернет. Что касается конкуренции? Ну, было предельно ясно, что Гейтс не хотел просто выйти на
            рынок. Он хотел доминировать над ним.</p>
          <p>В течение следующих нескольких лет Netscape и Microsoft вели войну. Не было редкостью, когда каждый месяц появлялись новые небольшие выпуски каждого браузера. Для большинства пользователей эта битва бушевала над их головами. Все они видели откуда
            идёт вихрь новых фич. Появилась скрытая поддержка плагинов, проприетарные представления HTML-элементов и всевозможные уникальные хаки. Даже когда тот или другой браузер начинал поддерживать стандарты, то он делал это на поверхностном уровне.
            Поэтому, когда «функции» поддерживались обоими браузерами, их часто интерпретировали и отображали совершенно по-разному.</p>
          <p>Теперь представьте, на мгновение, что вы были веб-дизайнером в это время. Вы все еще пытаетесь пробраться через спецификацию HTML, которая на данный момент все еще выглядит сухой и неопределённой. Но затем Netscape говорит, что вы можете добавить
            прокручивающийся баннер в начало вашего сайта! Поэтому вы добавляете его. Но он не работает в Internet Explorer. Но в Internet Explorer вы можете воспользоваться позиционированием CSS. Конечно, это не будет работать в браузере Netscape.
            Неудивительно, что в середине и конце 90-х годов было обычными видеть на сайтах надписи «Лучше всего отображаться в Netscape» или «Лучше всего отображаются в Internet Explorer». Без стандартов для разработки постоянно меняющихся функций и с двумя
            компаниями в разногласии, поддержка была фрагментирована и корява. У многих разработчиков не было выбора, кроме как адаптировать свои веб-сайты для одного браузера или другого. Очевидно, в конце концов пострадали пользователи.</p>
          <p>К третьей версии, Netscape представил множество функций, которые все еще используются сегодня. Такие вещи, как таблицы и фреймы, автозаполнение форм и более продвинутая версия Javascript. В выпуске этой версии также отмечен пик Netscape с точки
            зрения доли браузера, поразительный 90%.</p>
            <p class="headings">«Microsoft начинает войну за сеть»</p>
          <p>После этого Netscape начал фокусироваться на сопутствующих функциях. Начиная с версии 4, они добавили в свой браузер набор инструментов, объединенных в Netscape Communicator. Коммуникатор включил инструменты для электронной почты, IRC и новостей.
            Для многих это означало удобство всего в одном месте. Для других это сделало браузер раздутым и громоздким.</p>
          <p>Microsoft выбрала несколько иной путь. Вместо добавления расширений в свой браузер они использовали свое положение на рынке персональных компьютеров. Который, в 90-е годы, держали мёртвой хваткой. Таким образом, даже когда Internet Explorer стал
            лучше и догнал Netscape, Microsoft начала продвигать его через свои каналы распространения. Они предоставили браузер бесплатно производителям ПК и поставщикам услуг Интернета, чтобы связать их с оборудованием. Они снизили цену своего браузера для
            пользователей Microsoft Windows. И они заплатили большим веб-порталам, таким как AOL, чтобы подтолкнуть пользователей к IE.</p>
          <p>Затем, выпустив Internet Explorer 3.0, Microsoft нанесла удар. Они включали эту версию бесплатно, в комплекте с операционной системой Windows 95. Теперь пользователям больше не нужно ходить в свой местный магазин электроники и выбирать из
            нескольких вариантов. У них уже будет встроенный браузер, который будет работать практически так же, как и любой другой вариант. Бесплатно. Он даже хвастался некоторыми новыми уникальными функциями, такими как довольно широкая поддержка CSS.</p>
          <p>Netscape не стала сдаваться без боя и в 1997 году подала на Microsoft в суд, обвинив компанию в монополии. Главной причиной иска стала интеграция Internet Explorer в Windows, что нарушало нормы честной конкуренции. Все ждали захватывающего
            судебного процесса, и он не разочаровал наблюдателей — это было не менее яркое зрелище, чем финал спортивного состязания.</p>
          <p>Адвокаты Microsoft исходили из того, что браузер был добавлен на уровне исходного кода, и убрать его из текущей версии ОС фактически невозможно. Netscape настаивали, что это ложь, и предлагали собственный выход из ситуации — полный запрет
            использования Internet Explorer. У Гейтса был убедительный аргумент: с помощью интеграции IE корпорация обеспечивает своим пользователям качественный софт, и запрещать браузер было бы несправедливо по отношению к ним.</p>
          <p>В итоге Microsoft пообещала выпустить версию Windows 95 без своего браузера, но благодаря апелляциям запрет на интеграцию IE не действовал на следующую версию операционной системы, которая должна была вскоре увидеть свет.</p>
          <p>Это решение многим показалось несправедливым, и представители Microsoft снова оказались в суде. На этот раз компании реально угрожало разделение из-за нарушения антимонопольного законодательства, но такой участи удалось избежать — во многом
            благодаря адвокатам. Во время сложных судебных слушаний пришлось даже заменить судью: адвокаты Microsoft, опираясь на его громкие высказывания, доказали, что он питает личную неприязнь к компании и ее основателю. В результате процесс стал проходить в
            более спокойной обстановке.</p>
          <p>Больше всего от такого вердикта пострадала Netscape. Так и не получив помощи от государственных органов, Кларк и Андриссен попытались самостоятельно составить конкуренцию гиганту, но весомых успехов не добились. Пытаясь получить преимущество перед
            Microsoft, компания стала слишком быстро выпускать на рынок новые версии Navigator, из-за чего серьезно пострадало качество ПО. Бренд пытался стать серьезным конкурентом Microsoft, переключившись на другие направления софтверной разработки, но и
            здесь не добился успеха.</p>
          <p>В итоге компанию несколько раз продавали, а в 2003 году, будучи в составе AOL, она была окончательно распущена. Напоследок Netscape, помогавшая разработке Mozilla Foundation, открыла доступ к исходному коду своего браузера. Было сделано все
            возможное для того, чтобы дело основателей компании жило.</p>
          <p>Итак, в первой браузерной войне выиграла Microsoft. Казалось бы, она навсегда подчинила себе эту сферу, достигнув в ней абсолютного лидерства. Гигант сравнительно легко победил своего конкурента, хотя ему и пришлось столкнуться с затяжными
            судебными разбирательствами.Проигрыш Netscape был обусловлен несколькими ошибками, главная из которых — банальная неготовность бороться с монстрами типа Microsoft. Однако ее наследие вызвало новые сражения на рынке, в котором лидер постепенно
            превратится в догоняющего.</p>

        </span>
      </div>
    </span>
  </div>
</div>
