<p id="notice"><%= notice %></p>

<section id="body">

  <!-- Menubar -->
  <div id="Desktop">
    <div class="">
      <span id="infofolder" class="icon draggable" data-title="Справка">
        <%= image_tag 'Spravka.svg' %>
      </span>
    </div>
    <div class="">
      <span id="computerfolder" class="icon draggable" data-title="Мой компьютер">
        <%= image_tag 'Komp.png' %>
      </span>
    </div>
    <div class="">
      <span id="folderfolder" class="icon draggable" data-title="Папка">
        <%= image_tag 'Papka.svg' %>
      </span>
    </div>
    <div class="">
      <span id="trashfolder" class="icon draggable" data-title="Корзина">
        <%= image_tag 'Korzina.png' %>
      </span>
    </div>
  </div>


  <!-- Welcome alert -->
  <div class="container welcome draggable desk-elements">
    <div class="card resizable">

      <div id="browser-top">
        <div id="close-btn"></div>
        <div id="min-btn"></div>
        <div id="full-btn"></div>
      </div>
      <div class="fakeScreen">
        <p class="line1">&#91;&nbsp;Привет! Добро пожаловать в проект NetStory<span class="cursor1">_</span></p>
        <p class="line2">&nbsp;&nbsp;Этот сервис поможет узнать вам об Интернете все!<span class="cursor2">_</span></p>
        <p class="line3">&nbsp;&nbsp;Открой Справку, чтобы узнать больше :)&nbsp;&#93;
          <span class="cursor3">_</span></p>
        <p class="line4">><span class="cursor4">_</span></p>
      </div>
    </div>
  </div>

  <!-- "About" folder -->
  <div id="info" class="foldercontent draggable">
    <div class="menu_top">
      <span class="folder_title">About</span>
    </div>
    <button class="close">
    </button>
    <div class="infoldercontent infolder">
      <h4>Information about the project</h4>
      <p>NetStory – это&nbsp;проект про&nbsp;историю интернета. На&nbsp;страницы собраны статьи о&nbsp; самых интересных событиях интернета
        <br>с&nbsp; момента его&nbsp;зарождения до&nbsp;наших дней. На&nbsp;рабочем столе подборка избранных статей, остальные статьи можно найти
        <br>в&nbsp; «Папке».
      </p>
      <div class="share-button">
        <div class="lid">Поделиться</div>
        <div class="share-items-wrapper">
          <div class="share-items">
            <a href="#" class="share-item">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-instagram"></span>
            </a>
          </div>
        </div>
        <div class="thank-you">
          Спасибо!
        </div>
      </div>
    </div>

  </div>

  <!-- "My computer" folder -->
  <div id="computer" class="foldercontent draggable">
    <div class="menu_top">
      <span class="folder_title">Settings</span>
    </div>
    <button class="close">
    </button>
    <div class="infoldercontent">
      <div class="setting settings_first setting_border">
        <h3 class="setting__title">Change background</h3>
        <div class="color-list">
          <div id="pink" class="backgroundcolor"></div>
          <div id="blue" class="backgroundcolor"></div>
          <div id="yellow" class="backgroundcolor"></div>
          <div id="black" class="backgroundcolor"></div>
        </div>
      </div>
    </div>
    <div class="article-icon"></div>
  </div>

  <!-- Folder with articles -->
  <div id="folder" class="foldercontent draggable desktop-folder_center">
    <div class="menu_top">
      <span class="folder_title">Articles</span>
    </div>
    <button class="close">
    </button>
    <div class="folder-content__wrap-overflow scrollbar">
      <ul class="project-list nav_basic">
        <li class="project-list__item">
          <div id="er" class="article-icon"></div>
          <p>Ошибка 404</p>
        </li>
        <li class="project-list__item">
          <div id="gui" class="article-icon"></div>
          <p>Erwise</p>
        </li>
        <li class="project-list__item">
          <div id="mailb" class="article-icon"></div>
          <p>Первый E-mail</p>
        </li>
        <li class="project-list__item">
          <div id="att" class="article-icon"></div>
          <p>Первый лендинг</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Trash -->
  <div id="trash" class="foldercontent draggable">
    <div id="close-btn" class="cbtrash"></div>
    <div id="min-btn"></div>
    <div id="full-btn"></div>
    <div class="infoldercontent"></div>
  </div>

  <section class="article_main"></section>

  <!-- Preview on the desktop -->

  <div id="fastlink_erwise" class="draggable desk-elements">
    <div id="close-btn" class="cbfastlink_erwise"></div>
  </div>
  <div id="fastlink_att" class="draggable desk-elements"></div>

  <!-- Articles -->
  <div class="allArticles">
    <!-- Error404 -->
    <div id="err" class="foldercontent draggable">
          <%= render "articles/error404" %>
    </div>

    <!-- First Landing -->
    <div id="landing" class="foldercontent draggable">
        <%= render "articles/firstlanding" %>
    </div>

    <!-- Email -->
    <div id="mailb" class="foldercontent draggable">
        <%= render "articles/email" %>
    </div>

    <!-- First Browser -->
    <div id="guiewrise" class="foldercontent draggable">
        <%= render "articles/firstbrowser" %>
      </div>
    </div>
  </div>

  <!-- Taskbar -->
  <div class="taskbar">
    <div class="icons">
      <div class="icons-left">
        <a href="#" id="start-menu"></a>
        <a href="#infofolder" id="about-icon"></a>
        <a href="#trashfolder" id="trash-icon"></a>
        <a href="#" class="px"></a>
        <a href="#folderfolder" id="folder-icon" class="border"></a>
        <a href="#computerfolder" id="computer-icon" class="border"></a>
      </div>
      <div class="icons-right">
        <a href="#up" id="up" class="small-icons">
          <i class="fas fa-chevron-up"></i>
        </a>
        <a href="#sound-modal" id="sound" class="small-icons"></a>
        <a href="#wifi-modal" id="wifi" class="small-icons"></a>
        <div class="datetime">
          <span class="float_right" id="clock"></span>
        </div>
        <a href="#notifications" id="notifications">
          <i class="far fa-bell"></i>
        </a>
        <a href="#" class="clear disabled"></a>
        <a href="#" id="return"></a>
      </div>
    </div>
  </div>

</section>
