<p id="notice"><%= notice %></p>

<section id="body">

  <!-- Menubar -->
  <div id="Desktop">
    <div class="">
      <span id="infofolder" class="icon draggable" data-title="Справка">
        <%= image_tag 'Spravka.svg' %>
      </span>
    </div>
    <div class="">
      <span id="computerfolder" class="icon draggable" data-title="Мой компьютер">
        <%= image_tag 'Komp.png' %>
      </span>
    </div>

    <div class="">
      <span id="trashfolder" class="icon draggable" data-title="Корзина">
        <%= image_tag 'Korzina.png' %>
      </span>
    </div>
  </div>

<!-- что это?
<section class="article_main"></section> -->

  <%= render "taskBar" %>
  <%= render "preview" %>
  <%= render "settings" %>
  <%= render "welcomeAlert" %>
  <%= render "folders/myComputerFolder" %>
  <%= render "about" %>
  <%= render "trash" %>
</section>
