<%= form_with(model: subscription, class: "subscribe") do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :email, placeholder: t('desktop.form.placeholder'), class: "enter" %>
    <%= form.submit t('desktop.form.button'), class: "button" %>
  </div>
  <div class="changeLang">
    <div class="welcomeLocalizationBlock">
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "en", { :locale=>'en' } %>
      <% else %>
        <%= link_to "ru", { :locale=>'ru' } %>
      <%end%>
    </div>
  </div>

<% end %>
