<div class="plug">
  <p>
    <%= link_to "English", root_url(locale: "en"), class: "#{ I18n.locale == :en ? 'current' : 'language' }" %>
    |
    <%= link_to "Русский", root_url(locale: "ru"), class: "#{ I18n.locale == :ru ? 'current' : 'language' }" %>
  </p>

  <%= image_tag("Netstory.png", srcset: [["Netstory.png", "1x"], ["Netstory@2x.png", "2x"], ["Netstory@3x.png", "3x"]], class: "subscribeImage hide") %>
  <%= image_tag "spam/visitor.svg", class: "subscribeImage hidden visitor" %>

  <div class="text hide">
    <h1><%= I18n.t('subscription.h1') %></h1>
    <p><%= I18n.t('subscription.p').html_safe %></p>
  </div>

  <div class="text hidden">
    <h1><%= I18n.t('subscription.hidden.h1') %></h1>
    <p><%= I18n.t('subscription.hidden.p') %></p>
  </div>

  <%= render 'form', subscription: @subscription %>

  <div class="text">
    <h2><%= I18n.t('subscription.goshare') %></h2>
  </div>

<!-- myPopup(url) -->
  <a class="borderShare" href="javascript:myPopup('https://www.facebook.com/sharer/sharer.php?u=<%= current_url %>&amp;src=sdkpreparse')">
    <div class="fb-share-button" data-href="<%= current_url %>" data-layout="button_count" data-size="small">
      <p></p>
      <div class="fb-xfbml-parse-ignore"><%= I18n.t('subscription.button') %></div>
    </div>
  </a>
</div>
