<div class="plug">
  <p>
    <%= link_to "English", root_url(locale: "en"), class: "#{ I18n.locale == :en ? 'current' : 'language' }" %>
    |
    <%= link_to "Русский", root_url(locale: "ru"), class: "#{ I18n.locale == :ru ? 'current' : 'language' }" %>
  </p>

  <img srcset="
  assets/Netstory.png 1x,
  assets/Netstory@2x.png 2x,
  assets/Netstory@3x.png 3x
" alt="…", class="subscribeImage hide">

  <%= image_tag "spam/visitor.svg", class: "subscribeImage hidden visitor" %>

  <div class="text hide">
    <h1><%= I18n.t('subscription.h1') %></h1>
    <p><%= I18n.t('subscription.p').html_safe %></p>
  </div>

  <div class="text hidden">
    <h1><%= I18n.t('subscription.hidden.h1') %></h1>
    <p><%= I18n.t('subscription.hidden.p') %></p>
  </div>

  <%= render 'form', subscription: @subscription %>

  <div class="text">
    <h2><%= I18n.t('subscription.goshare') %></h2>
  </div>

  <div class="borderShare">
    <div class="fb-share-button" data-href="https://netstory.hack.exchange" data-layout="button_count" data-size="small">
      <p></p>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnetstory.hack.exchange%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><%= I18n.t('subscription.button') %></a>
    </div>
  </div>
</div>
