<!-- Spam -->
<div class="spam window hidden lazyload" id="spam">
  <section class="spamWindow window hidden draggable" id="alert1">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infolderContent">
      <div class="spamImg">
        <%= image_tag 'spam/spam_google.svg' %>
      </div>
    </div>
  </section>
  <section class="spamWindow window hidden draggable" id="alert2">
    <div class="menuTop">
      <span class="infolderContent"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infolderContent">
      <div class="spamImg">
        <%= image_tag 'spam/visitor.svg' %>
      </div>
    </div>
  </section>
  <section class="spamWindow window hidden draggable" id="alert4">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infolderContent">
      <div class="spamImg">
        <%= image_tag 'spam/goodday.svg' %>
      </div>
    </div>
  </section>
  <section class="spamWindow window hidden draggable" id="alert6">
    <div class="menuTop prizebtn">
      <span class="folderTitle"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infolderContent">
      <div class="spamImg">
        <%= image_tag 'spam/prize.png' %>
      </div>
    </div>
  </section>
</div>
