<!-- Spam -->
<div class="spam window hidden lazyload" id="spam">
  <section class="spam-window window hidden draggable" id="alert1">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn contbtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/cont.png' %>
      </div>
    </div>
  </section>
  <section class="spam-window window hidden draggable" id="alert2">
    <div class="menuTop">
      <span class="infoldercontent"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/update.png' %>
      </div>
    </div>
  </section>
  <section class="spam-window window hidden draggable" id="alert4">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/goodday.png' %>
      </div>
    </div>
  </section>
  <section class="spam-window window hidden draggable" id="alert5">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn dietbtn">
        <%= image_tag 'spam/prize' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/diet.png' %>
      </div>
    </div>
  </section>
  <section class="spam-window window hidden draggable" id="alert4">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn dietbtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/diet.png' %>
      </div>
    </div>
  </section>
  <section class="spam-window window hidden draggable" id="alert6">
    <div class="menuTop prizebtn">
      <span class="folderTitle"></span>
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent">
      <div class="spam_img">
        <%= image_tag 'spam/prize.png' %>
      </div>
    </div>
  </section>
</div>
