<!-- Spam -->
<div class="spam window hidden lazyload" id="spam">
  <section class="spam-window draggable" id="alert1">
    <div class="menu_top">
      <span class="folder_title"></span>
      <div class="closebtn">
        <%= image_tag 'x.svg' %>
      </div>
  </div>
</section>
<section class="spam-window window hidden draggable" id="alert3">
  <div class="menu_top">
    <span class="folder_title"></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent">
    <div class="spam_img">
      <%= image_tag 'spam.jpg' %>
    </div>
  </div>
</section>
<section class="spam-window window hidden draggable" id="alert2">
  <div class="menu_top">
    <span class="folder_title"></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent">
    <div class="spam_img">
      <%= image_tag 'spam.jpg' %>
    </div>
  </div>
</section>
<section class="spam-window window hidden draggable" id="alert4">
  <div class="menu_top">
    <span class="folder_title"></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent">
    <div class="spam_img">
      <%= image_tag 'spam.jpg' %>
    </div>
  </div>
</section>
<section class="spam-window window hidden draggable" id="alert5">
  <div class="menu_top">
    <span class="folder_title"></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent">
    <div class="spam_img">
      <%= image_tag 'spam.jpg' %>
    </div>
  </div>
</div>
</section>
<section class="spam-window window hidden draggable" id="alert6">
<div class="menu_top">
  <span class="folder_title"></span>
  <div class="closebtn">
    <%= image_tag 'x.svg' %>
  </div>
</div>
<div class="infoldercontent">
  <div class="spam_img">
    <%= image_tag 'spam.jpg' %>
  </div>
</div>
</section>
<section class="spam-window window hidden draggable" id="alert7">
<div class="menu_top">
  <span class="folder_title"></span>
  <div class="closebtn">
    <%= image_tag 'x.svg' %>
  </div>
</div>
<div class="infoldercontent">
  <div class="spam_img">
    <%= image_tag 'spam.jpg' %>
  </div>
</div>
</section>
</div>
