<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>
  
  <div id="wikiArticle">
    <div id="content" class="mwBody">
        <h1 id="firstHeading" class="firstHeading">Wikipedia</h1>
        <div id="bodyContent" class="mwBodyContent">
          <div id="siteSub"> From Wikipedia, the free encyclopedia </div>
          <div class="mwContentLtr">
            <div class="mwParserOutput">
              <table class="infobox" style data-name="Карточка сайта">
                <tbody>

                  <tr>
                    <th colspan="2" class="" style="text-align:center; font-size: 125%; background:#eaecf0;">Wikipedia</th>
                  </tr>

                  <tr>
                    <td colspan="2" style="text-align:center; padding: 0.75em 0;">
                      <%= image_tag 'articles/wikipedia/Wikipedia-logo-v2.png', :class => "styleImage", :style => "width: 88px; height: 80px;" %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" style="text-align:center;">
                        <%= image_tag 'articles/wikipedia/267px-Www.wikipedia.org_screenshot_2018.png', :class => "styleImage", :style => "width: 267px; height: 353px;" %>
                    </td>
                  </tr>

                  <tr>
                    <th>
                      <a title="URL" target="_blank">URL</a>
                    </th>
                    <td>>
                      <a class="external text" href="https://www.wikipedia.org" target="_blank">wikipedia.org</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Commercial</th>
                    <td>No</td>
                  </tr>

                  <tr>
                    <th>Type of site</th>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%B0%D1%8F_%D1%8D%D0%BD%D1%86%D0%B8%D0%BA%D0%BB%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F" title="Интернет-энциклопедия" target="_blank">Online encyclopedia</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Registration</th>
                    <td>Optional</td>
                  </tr>

                  <tr>
                    <th>Available in</th>
                    <td>303 languages</td>
                  </tr>

                  <tr>
                    <th>Written in</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/PHP" title="PHP" target="_blank">PHP</a>
                      (<a href="#" title="LAMP" target="_blank">LAMP</a> platform)
                    </td>
                  </tr>

                  <tr>
                    <th>Owner</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B4_%D0%92%D0%B8%D0%BA%D0%B8%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0" title="Фонд Викимедиа" target="_blank">Wikimedia Foundation </a>
                      <sup class="reference">
                        <a href="https://www.dmagazine.com/frontburner/2016/05/the-business-of-wikipedia-how-jimmy-wales-built-the-free-encyclopedia/" target="_blank">[1]</a>
                      </sup>
                    </td>
                  </tr>

                  <tr>
                    <th>Created by</th>
                    <td>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми" target="_blank">Jimmy Wales</a>
                      and
                      <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Ларри" target="_blank">Larry Sanger</a>
                    </td>
                  </tr>

                  <tr>
                    <th>Launched</th>
                    <td>January 15, 2001; 18 years ago</td>
                  </tr>

                  <tr>
                    <th>Current status</th>
                    <td>Active</td>
                  </tr>

                  <tr>
                    <th>Slogan</th>
                    <td>The free encyclopedia that anyone can edit</td>
                  </tr>

                  <tr>
                    <td colspan="2" class="" style="text-align:center;background:#eaecf0;">
                      <a href="https://commons.wikimedia.org/wiki/Category:Wikipedia" title="commons:Category:Wikipedia" target="_blank">
                        <%= image_tag 'articles/wikipedia/15px-Commons-logo.svg.png', :class => "styleImage", :style => "width: 15px; height: 20px;" %>
                      </a>
                      &nbsp;
                      <a href="https://commons.wikimedia.org/wiki/Category:Wikipedia" class="extiw" title="commons:Category:Wikipedia" target="_blank">Wikipedia on&nbsp;Wikimedia Commons</a>
                    </td>
                  </tr>

                </tbody>
              </table>

              <p>
                <b>Wikipedia</b>
                (<span style="font-style:italic;"> WIK-kee-PEE-dee-ə</span>)&nbsp;—is a multilingual<a href="https://en.wikipedia.org/wiki/Online_encyclopedia" title="Энциклопедия" target="_blank">online encyclopedia</a>
               based on open collaboration through a model of web-based content editing called<a href="https://en.wikipedia.org/wiki/Wiki" title="Вики" target="_blank">wiki</a>.
              </p>

              <p>It features exclusively free content and no commercial ads, and is owned and supported by the
               «<a href="https://en.wikipedia.org/wiki/Wikimedia_Foundation" title="Фонд Викимедиа" target="_blank">Wikimedia Foundation</a>»
               , a non-profit organization funded primarily through donations..
              </p>

              <p>Wikipedia was launched on January 15, 2001, by
                <a href="https://en.wikipedia.org/wiki/Jimmy_Wales" title="Уэйлс, Джимми" target="_blank">Jimmy Wales </a>
                and
                <a href="https://en.wikipedia.org/wiki/Larry_Sanger" title="Сэнгер, Ларри" target="_blank">Larry Sanger</a>. Sanger coined its name,as a portmanteau of wiki (the Hawai'ian word for "quick") and "encyclopedia".  It is the largest and most popular general reference work on the World Wide Web, and is one of the most popular websites by Alexa rank as of June 2019.
                With 5,869,650 articles, the English Wikipedia is the largest of the more than 290 Wikipedia encyclopedias. Overall, Wikipedia comprises more than 40 million articles in 301 different languages and by February 2014 it had reached 18 billion page views and nearly 500 million unique visitors per month.
              </p>

              <p>In 2005, Nature published a peer review comparing 42 hard science articles from Encyclopædia Britannica and Wikipedia and found that Wikipedia's level of accuracy approached that of Britannica, although critics suggested that it might not have fared so well in a similar study of a random sampling of all articles or one focused on social science or contentious social issues. The following year, Time magazine stated that the open-door policy of allowing anyone to edit had made Wikipedia the biggest and possibly the best encyclopedia in the world, and was a testament to the vision of Jimmy Wales.
              </p>

              <p>Wikipedia has been criticized for exhibiting systemic bias, for presenting a mixture of "truths, half truths, and some falsehoods", and for being subject to manipulation and spin in controversial topics. But by 2017, Facebook announced that it would help readers detect fake news by suggesting links to related Wikipedia articles. YouTube announced a similar plan in 2018.
              </p>


              <div class="toc">
                <div class="toctitle" dir="ltr">
                  <h2>Contents</h2>
                  <ul>

                    <li>
                      <a href="#История">
                        <span class="tocnumber">1</span>
                        <span class="toctext">History</span>
                      </a>
                    </li>

                    <li>
                      <a href="#Сообщество">
                        <span class="tocnumber">2</span>
                        <span class="toctext">Community</span>
                      </a>
                    </li>

                    <li>
                      <a href="#ВикипедияНаБумаге">
                        <span class="tocnumber">3</span>
                        <span class="toctext">Print Wikipedia</span>
                      </a>
                    </li>

                    <li>
                      <a href="#Значение">
                        <span class="tocnumber">4</span>
                        <span class="toctext">Cultural impact</span>
                      </a>
                    </li>

                    <li>
                      <a href="#РодственныеПроекты">
                        <span class="tocnumber">5</span>
                        <span class="toctext">Sister projects</span></a>
                    </li>
                  </ul>
                </div>
              </div>


              <h2>
                <span id="История">History</span>
              </h2>

              <div class="thumb tleft">
                <div class="thumbInner" style="width:222px;">
                  <%= image_tag 'articles/wikipedia/Nupedia_logo_and_wordmark.png', :class => "styleImage", :style => "width: 220px; height: 51px;" %>
                  <div class="thumbCaption">
                    Wikipedia originally developed from another encyclopedia project called Nupedia
                  </div>
                </div>
              </div>

              <table style="float: right;" class="wikiTable">
                <tbody>
                  <tr>
                    <td>
                      <%= image_tag 'articles/wikipedia/Jimbo_at_Fosdem_cropped.jpg', :class => "styleImage", :style => "width: 260px; height: 302px;" %>
                    </td>
                    <td>
                      <%= image_tag 'articles/wikipedia/200px-Larry_Sanger_02.jpg', :class => "styleImage", :style => "width: 200px; height: 300px;" %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%B9%D0%BB%D1%81,_%D0%94%D0%B6%D0%B8%D0%BC%D0%BC%D0%B8" title="Уэйлс, Джимми" target="_blank">Jimmy Wales</a>
                      and
                      <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%8D%D0%BD%D0%B3%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%80%D0%B8" title="Сэнгер, Лоуренс" target="_blank">Larry Sanger</a>
                    </td>
                  </tr>
                </tbody>

              </table>

              <p>Wikipedia began as a complementary project for <a href="https://en.wikipedia.org/wiki/Nupedia" title="Нупедия" target="_blank">Nupedia</a>— , a free online English-language encyclopedia project whose articles were written by experts and reviewed under a formal process. It was founded on March 9, 2000, under the ownership of Bomis, a web portal company. Its main figures were Bomis CEO <a href="https://en.wikipedia.org/wiki/Jimmy_Wales" title="Уэйлс, Джимми" target="_blank">Jimmy Wales</a>, and <a href="https://en.wikipedia.org/wiki/Larry_Sanger" title="Сэнгер, Лоуренс" target="_blank">Larry Sanger</a>, editor-in-chief for Nupedia and later Wikipedia. Nupedia was initially licensed under its own Nupedia Open Content License, but even before Wikipedia was founded, Nupedia switched to the GNU Free Documentation License at the urging of Richard Stallman.
              </p>

              <p>Wales is credited with defining the goal of making a publicly editable encyclopedia, while Sanger is credited with the strategy of using a wiki to reach that goal. On January 10, 2001, Sanger proposed on the Nupedia mailing list to create a wiki as a "feeder" project for Nupedia. The domains wikipedia.com and wikipedia.org were registered on January 12, 2001 and January 13, 2001 respectively, and Wikipedia was launched on January 15, 2001, as a single English-language edition at www.wikipedia.com, and announced by Sanger on the Nupedia mailing list. Wikipedia's policy of "neutral point-of-view" was codified in its first months. Otherwise, there were relatively few rules initially and Wikipedia operated independently of Nupedia. Originally, Bomis intended to make Wikipedia a business for profit.
              </p>

              <p>Wikipedia gained early contributors from Nupedia, Slashdot postings, and web search engine indexing. Language editions were also created, with a total of 161 by the end of 2004. Nupedia and Wikipedia coexisted until the former's servers were taken down permanently in 2003, and its text was incorporated into Wikipedia. The English Wikipedia passed the mark of two million articles on September 9, 2007, making it the largest encyclopedia ever assembled, surpassing the 1408 Yongle Encyclopedia, which had held the record for almost 600 years. Though the English Wikipedia reached three million articles in August 2009, the growth of the edition, in terms of the numbers of new articles and of contributors, appears to have peaked around early 2007.  Around 1,800 articles were added daily to the encyclopedia in 2006; by 2013 that average was roughly 800.  A team at the Palo Alto Research Center attributed this slowing of growth to the project's increasing exclusivity and resistance to change. Others suggest that the growth is flattening naturally because articles that could be called "low-hanging fruit"—topics that clearly merit an article—have already been created and built up extensively.
              </p>

              <p>In November 2009, a researcher at the Rey Juan Carlos University in Madrid found that the English Wikipedia had lost 49,000 editors during the first three months of 2009; in comparison, the project lost only 4,900 editors during the same period in 2008. The Wall Street Journal cited the array of rules applied to editing and disputes related to such content among the reasons for this trend. Wales disputed these claims in 2009, denying the decline and questioning the methodology of the study. Two years later, in 2011, Wales acknowledged the presence of a slight decline, noting a decrease from "a little more than 36,000 writers" in June 2010 to 35,800 in June 2011. In the same interview, Wales also claimed the number of editors was "stable and sustainable". A 2013 article titled "The Decline of Wikipedia" in MIT's Technology Review questioned this claim. The article revealed that since 2007, Wikipedia had lost a third of its volunteer editors, and those still there have focused increasingly on minutiae. In July 2012, The Atlantic reported that the number of administrators is also in decline. In the November 25, 2013, issue of New York magazine, Katherine Ward stated "Wikipedia, the sixth-most-used website, is facing an internal crisis".</p>


              <h2>
                <span id="Сообщество">Community</span>
              </h2>

              <div class="thumb tRight">
                <div class="thumbInner" style="width:222px;">
                  <%= image_tag 'articles/wikipedia/Wikimania_2012_Group_Photograph-0001a.jpg', :class => "styleImage", :style => "width: 220px; height: 147px;" %>
                  <div class="thumbCaption"> A photo from  annual festival Wikimania in 2012</div>
                </div>
              </div>

              <p>Each article and each user of Wikipedia has an associated "Talk" page. These form the primary communication channel for editors to discuss, coordinate and debate.</p>

              <p>Wikipedia's community has been described as cult-like, although not always with entirely negative connotations. The project's preference for cohesiveness, even if it requires compromise that includes disregard of credentials, has been referred to as "anti-elitism".
              </p>

              <p>Wikipedians sometimes award one another virtual barnstars for good work. These personalized tokens of appreciation reveal a wide range of valued work extending far beyond simple editing to include social support, administrative actions, and types of articulation work.
              </p>

              <p>Wikipedia does not require that its editors and contributors provide identification. As Wikipedia grew, "Who writes Wikipedia?" became one of the questions frequently asked on the project. Jimmy Wales once argued that only "a community ... a dedicated group of a few hundred volunteers" makes the bulk of contributions to Wikipedia and that the project is therefore "much like any traditional organization". In 2008, a Slate magazine article reported that: "According to researchers in Palo Alto, 1 percent of Wikipedia users are responsible for about half of the site's edits." This method of evaluating contributions was later disputed by Aaron Swartz, who noted that several articles he sampled had large portions of their content (measured by number of characters) contributed by users with low edit counts.
              </p>

  <p>The English Wikipedia has 5,869,650 articles, 36,480,544 registered editors, and 128,964 active editors. An editor is considered active if they have made one or more edits in the past 30 days.
              </p>

<p>Editors who fail to comply with Wikipedia cultural rituals, such as signing talk page comments, may implicitly signal that they are Wikipedia outsiders, increasing the odds that Wikipedia insiders may target or discount their contributions. Becoming a Wikipedia insider involves non-trivial costs: the contributor is expected to learn Wikipedia-specific technological codes, submit to a sometimes convoluted dispute resolution process, and learn a "baffling culture rich with in-jokes and insider references". Editors who do not log in are in some sense second-class citizens on Wikipedia, as "participants are accredited by members of the wiki community, who have a vested interest in preserving the quality of the work product, on the basis of their ongoing participation", but the contribution histories of anonymous unregistered editors recognized only by their IP addresses cannot be attributed to a particular editor with certainty.
              </p>


              <h2>
                <span id="ВикипедияНаБумаге">Print Wikipedia
</span>
              </h2>

              <p> Print Wikipedia is an art project by Michael Mandiberg that printed 106 of the 7,473 volumes of English Wikipedia as it existed on April 7, 2015. The project shows the spines of the first 1,980 volumes in the set, supplemented by 106 actual physical volumes, each of which runs to 700 pages. A 36-volume index of all of the 7.5 million contributors to English Wikipedia is also part of the project. The table of contents takes up 91 700-page volumes. The printed volume only includes text of the articles: images and references are not included. The project was shown at the Denny Gallery in New York City in the summer of 2015. Similar projects have been held with a printed part of the German Wikipedia (Berlin, 2015) and with the Dutch Wikipedia (Ghent, 2016).</p>
              <p>Mandiberg originally thought of the project in 2009 but ran into technical difficulties. He then engaged an assistant, Jonathan Kirinathan, to aid with the programming of the code to compile, format and upload an entire English Wikipedia download. The print files were uploaded to self book publisher Lulu.com and are available for printout as paper volumes.</p>

  <p>Mandiberg's motivation was to answer the question, "How big is it?" For a big data entity, its size is on the threshold of what can be perceived as a collection of volumes, but not so large as to overwhelm one's senses, such as the data files of Facebook or the NSA. Katherine Maher, the Executive Director of the Wikimedia Foundation, described it as "a gesture at knowledge". Wikimedia cooperated with the project and Lulu.com helped fund it.</p>
  <p>The task took three years, and the upload process took 24 days, 3 hours and 18 minutes. It was completed on 12 July 2015. PediaPress had attempted to raise money for a full English Wikipedia printout on Indiegogo in 2014, with a goal of $50,000 (£30,000), but the project was pulled. The pulled project had intended to print 1,000 volumes, which would include 1,200 pages each: 1,200,000 pages in total equal to about 80 meters of shelf space. Mandiberg later assured people that he won't be printing out the entire collection, claiming an entire collection is not necessary for people to comprehend the true size of Wikipedia, and once people have seen a portion of it, it will help them realize its size. Mandiberg estimates that the printing costs of a full printout would be around $500,000. The Denny art exhibit featured only a selection of actual printed volumes with about 2,000 of the other volumes represented as spines on the wall. The show revolved around the actual upload of the print files to Lulu.com.</p>



              <h2>
                <span id="Значение">Cultural impact</span>
              </h2>

              <p>In February 2014, The New York Times reported that Wikipedia is ranked fifth globally among all websites, stating "With 18 billion page views and nearly 500 million unique visitors a month [...] Wikipedia trails just Yahoo, Facebook, Microsoft and Google, the largest with 1.2 billion unique visitors."
              </p>

  <p>In addition to logistic growth in the number of its articles, Wikipedia has steadily gained status as a general reference website since its inception in 2001. About 50 percent of search engine traffic to Wikipedia comes from Google, a good portion of which is related to academic research. The number of readers of Wikipedia worldwide reached 365 million at the end of 2009. The Pew Internet and American Life project found that one third of US Internet users consulted Wikipedia. In 2011 Business Insider gave Wikipedia a valuation of $4 billion if it ran advertisements.
              </p>

 <p>According to "Wikipedia Readership Survey 2011", the average age of Wikipedia readers is 36, with a rough parity between genders. Almost half of Wikipedia readers visit the site more than five times a month, and a similar number of readers specifically look for Wikipedia in search engine results. About 47 percent of Wikipedia readers do not realize that Wikipedia is a non-profit organization.
              </p>

              <div class="thumb tRight">
                <div class="thumbInner" style="width:302px;">
                  <%= image_tag 'articles/wikipedia/Webcomic_xkcd_-_Wikipedian_protester_RUS.png', :class => "styleImage", :style => "width: 300px; height: 163px;" %>
                  <div class="thumbCaption">
                    XKCD comics
                  </div>
                </div>

              </div>

              <p>Wikipedia's content has also been used in academic studies, books, conferences, and court cases. The Parliament of Canada's website refers to Wikipedia's article on same-sex marriage in the "related links" section of its "further reading" list for the Civil Marriage Act. The encyclopedia's assertions are increasingly used as a source by organizations such as the US federal courts and the World Intellectual Property Organization—though mainly for supporting information rather than information decisive to a case. Content appearing on Wikipedia has also been cited as a source and referenced in some US intelligence agency reports. In December 2008, the scientific journal RNA Biology launched a new section for descriptions of families of RNA molecules and requires authors who contribute to the section to also submit a draft article on the RNA family for publication in Wikipedia.
              </p>

              <p>Wikipedia has also been used as a source in journalism, often without attribution, and several reporters have been dismissed for plagiarizing from Wikipedia.
              </p>

              <p>On September 16, 2007, The Washington Post reported that Wikipedia had become a focal point in the 2008 US election campaign, saying: "Type a candidate's name into Google, and among the first results is a Wikipedia page, making those entries arguably as important as any ad in defining a candidate. Already, the presidential entries are being edited, dissected and debated countless times each day." An October 2007 Reuters article, titled "Wikipedia page the latest status symbol", reported the recent phenomenon of how having a Wikipedia article vindicates one's notability.
              </p>

              <p>In a 2017 opinion piece for Wired, Hossein Derakhshan describes Wikipedia as "one of the last remaining pillars of the open and decentralized web" and contrasted its existence as a text-based source of knowledge with social media and social networking services, the latter having "since colonized the web for television's values." For Derakhshan, Wikipedia's goal as an encyclopedia represents the Age of Enlightenment tradition of rationality triumphing over emotions, a trend which he considers "endangered" due to the "gradual shift from a typographic culture to a photographic one, which in turn mean[s] a shift from rationality to emotions, exposition to entertainment." Rather than "sapere aude" (lit. 'dare to know'), social networks have led to a culture of "[d]are not to care to know." This is while Wikipedia faces "a more concerning problem" than funding, namely "a flattening growth rate in the number of contributors to the website." Consequently, the challenge for Wikipedia and those who use it is to "save Wikipedia and its promise of a free and open collection of all human knowledge amid the conquest of new and old television—how to collect and preserve knowledge when nobody cares to know."</p>


              <h2>
                <span id="РодственныеПроекты">Sister projects
</span>
              </h2>

              <p>n addition to Wikipedia, the foundation operates eleven other wikis that follow the free content model with their main goal being the dissemination of knowledge. These include, by launch date:</p>

              <ul>
                <li>
                  <a href="https://en.wikipedia.org/wiki/Wiktionary" title="Викисловарь" target="_blank">Wiktionary</a> — online dictionary and thesaurus;
                </li>
                <li>
                  <a href="https://en.wikipedia.org/wiki/Wikiquote" title="Викицитатник" target="_blank">Wikiquote</a> — collection of quotations;
                </li>
                <li>
                  <a href="https://wikisource.org/wiki/Main_Page" title="Викитека" target="_blank">Wikisource</a> — digital library;
                </li>
                <li>
                  <a href="https://www.wikibooks.org/" title="Викиучебник" target="_blank">Wikibooks</a> — collection of textbooks;
                </li>
                <li>
                  <a href="https://www.wikiversity.org/" title="Викиверситет" target="_blank">Wikiversity</a>, collection of tutorials and courses, while also serving as a hosting point to coordinate research;
                </li>
                <li>
                  <a href="https://www.wikinews.org/" title="Викиновости" target="_blank">Wikinews</a> — online newspaper;
                </li>
                <li>
                  <a href="https://commons.wikimedia.org/wiki/Main_Page" title="Викисклад" target="_blank">Wikimedia Commons</a> — repository of images, sounds, videos, and general media
                </li>
                <li>
                  <a href="https://species.wikimedia.org/wiki/Main_Page" title="Викивиды" target="_blank">Wikispecies</a> — taxonomic catalogue of species;
                </li>
                <li>
                  <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" title="Викиданные" target="_blank">Wikidata</a> — knowledge base;
                </li>
                <li>
                  <a href="https://www.wikivoyage.org/" title="Викигид" target="_blank">Wikivoyage</a> — travel guide;
                </li>
                <li>
                  <a href="https://meta.wikimedia.org/wiki/Meta:About/ru" title="Мета-вики" target="_blank">Meta-Wiki</a> — central site for coordinating all projects and the Wikimedia community.
                </li>
              </ul>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
