<!DOCTYPE html>
<html>
  <head>
    <title>NetStory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.3"></script>
    <meta property="fb:app_id"          content="1234567890" />
    <meta property="og:type"            content="article" />
    <meta property="og:url"             content="https://netstory.head.exchange/" />
    <meta property="og:title"           content="NetStory" />
    <meta property="og:image"           content="Netstory.png" />
    <meta property="og:description"    content="http://samples.ogp.me/390580850990722" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
